@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    color: #333;
    font-weight: 400;
    font-size: 14px;
}
html, body {
    overflow-x: hidden;
}
html, body, p, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
body {
    font-family: 'GmarketSansMedium';
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
input[type="checkbox"],input[type="radio"] {
    display: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
}
.wrap_radio input[type="radio"] + label {
    display: inline-block !important;
    background: url('images/icon_radio_none.svg') left/22px no-repeat;
    background-size: contain;
    padding-left: 28px;
    margin-right: 20px;
    cursor: pointer;
}
.wrap_radio input[type="radio"]:checked + label {
    display: inline-block !important;
    background: url('images/icon_radio_selected.svg') left/22px no-repeat;
    background-size: contain;
}
.checkbox_square input[type="checkbox"] + label {
    background: url('images/icon_checkbox_square_none.png') left/18px no-repeat;
    background-size: contain;
    padding-left: 22px;

}
.checkbox_square input[type="checkbox"]:checked + label {
    background: url('images/icon_checkbox_square_checked.png') left/18px no-repeat;
    background-size: contain;
    padding-left: 22px;
}
input[type="date"] {
    width: 250px;
    height: 38px;
    padding: 10px 11px 10px 16px;
}
::-webkit-scrollbar {
    display: none;
}
.voucher {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
}
.voucher .wrap_btn {
    padding: 60px 0;
}
.voucher .wrap_btn .wrap_link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.voucher .wrap_btn .wrap_link a {
    display: inline-block;
    width: 520px;
    height: 100px;
    border: 1px solid #E6E6E6;
    padding: 25px 30px;
    vertical-align: top;
}
.voucher .wrap_btn .wrap_link a.individual {
    border-top: 2px solid #3B61D5;
}
.voucher .wrap_btn .wrap_link a.corporate {
    border-top: 2px solid #5F4EEE;
}
.voucher .wrap_btn .wrap_link a > * {
    display: inline-block;
}
.voucher .wrap_btn .wrap_link a p {
    margin-left: 10px;
    vertical-align: top;
}
.voucher .wrap_btn .wrap_link a p > span {
    display: block;
}
.voucher .wrap_btn .wrap_link a p > span:first-of-type {
    font-size: 20px;
    font-weight: 400;
}
.voucher .wrap_btn .wrap_link a.individual p > span:first-of-type {
    color: #3B61D5;
}
.voucher .wrap_btn .wrap_link a.individual p > span:first-of-type {
    color: #5F4EEE;
}
.voucher .wrap_btn .wrap_link a > span {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    vertical-align: top;
}
.voucher .wrap_btn .wrap_link a.individual > span {
    background: #3B61D5;
}
.voucher .wrap_btn .wrap_link a.corporate > span {
    background: #5F4EEE;
}


input[id="btn_nav"] {
    display: none;
}
input[id="btn_nav"] + label {
    position: absolute;
    background: url(images/img_nav.png);
    width: 42px;
    height: 217px;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .2s;
}
input[id="btn_nav"] + label span {
    position: absolute;
    width: 100%;
    height: 217px;
    border-radius: 30px;
    cursor: pointer;

    background-image: url(images/img_nav_arrow_left.png);
    background-position: center;
    background-repeat: no-repeat;
}
input[id="btn_nav"]:checked + label {
    z-index: 2;
    right: 74px;
    transition: all .2s;
}
input[id="btn_nav"]:checked + label span {
    background-image: url(images/img_nav_arrow_right.png);
    background-position: center;
    background-repeat: no-repeat;
}

div[class="nav_bar"] {
    position: relative;
    width: 74px;
    height: 100%;
    background: #3B61D5;
    position: fixed;
    top: 0;
    right: -74px;
    border-radius: 10px 0px 0px 10px;
    z-index: 1;
    transition: all .2s;
}
input[id="btn_nav"]:checked + label + div{
    right: 0;
}
.wrap_nav {
    position: absolute;
    position: fixed;
    width: 116px;
    height: 100vh;
    right: 0;
    box-sizing: border-box;
}
.wrap_nav .nav_bar .top {
    position: absolute;
    top: 0;
}
.wrap_nav .nav_bar .top button {
    margin: 30px 25px;
}
.wrap_nav .nav_bar .bottom {
    position: absolute;
    bottom: 0;
    width: 30px;
    border-top: 1px solid #FFF;
    left: 50%;
    transform: translate(-50%, 0);
}
.wrap_nav .nav_bar .bottom button {
    margin: 30px auto;
}
.wrap_nav .nav_bar button {
    display: block;
    width: 24px;
    height: 24px;
}
.wrap_nav .nav_bar button.home {
    background: url(images/icon_home.png);
}
.wrap_nav .nav_bar button.user {
    background: url(images/icon_user.png);
}
.wrap_nav .nav_bar button.logout {
    background: url(images/icon_logout.png);
}
.wrap_nav .nav_bar span {
    right: 55px;
    width: 74px;
    height: 28px;
    line-height: 28px;
    padding-right: 4px;
    text-align: center;
    font-size: 12px;
    color: #3B61D5;
}
.wrap_nav .nav_bar span.tooltip_main {
    display: none;
    background: url(images/icon_tooltip.png);
    position: absolute;
    top: 30px;
}
.wrap_nav .nav_bar span.tooltip_user {
    display: none;
    background: url(images/icon_tooltip.png);
    position: absolute;
    top: 83px;
}
.voucher .wrap_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(images/img_bg_voucher_01.png), url(images/img_bg_voucher_02.png) no-repeat;
    background-position: center, bottom;
    background-size: 100% 100%, 100% 70% !important;
}
.voucher .list_contents {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 60px 0;
    overflow-x: hidden;
}
.voucher .wrap_contents .inner_header,
.voucher .list_contents .inner_header {
    position: relative;
}
.voucher .wrap_contents h1,
.voucher .list_contents h1 {
    border: 1px solid blue;
    width: 450px;
    max-height: 148px;
    text-align: center;
    margin: 0 auto;
}
.voucher .wrap_contents h1 img,
.voucher .list_contents h1 img {
    display: inline-block;
    margin: 0 auto;
}
.voucher .wrap_contents .inner_header .name,
.voucher .list_contents .inner_header .name {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;
    color: #333;
}
.voucher .wrap_contents .inner_body,
.voucher .list_contents .inner_body {
    width: 100%;
    /* background: url(images/img_bg_voucher_02.png) no-repeat; */
}
.voucher .wrap_contents .inner_body .greeting {
    margin: 50px 0;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}
.voucher .wrap_contents .inner_body .greeting span {
    display: inline-block;
    background: linear-gradient(90.94deg, #3B61D5 -3.39%, #2EEEE3 102.67%);
    padding: 5px 10px 0px 10px;
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

.voucher .wrap_contents .inner_body .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card_container > section {
    display: flex;
    gap: 20px;
}
.card {
    position: relative;
    width: 245px;
    height: 245px;
}
.card a {
    display: block;
    background: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.04);
    transition: 0.25s ease;
}
.card a[class="card_ani"]:hover {
    transform: translate(-30px, -30px);
    border-color: #5bc0eb;
}
.card a[class="card_default"]:hover {
    border: 1px solid #3B61D5;
    transition: none;
}
.card_display {
    display: block;
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card_hover {
    display: block;
    background: #FFF;
    border: 1px solid #3B61D5;
    border-radius: 10px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 30px 0 50px;
}
.card_hover hr {
    width: 48px;
    height: 2px;
    border-color: #3B61D5;
}
.card_hover span {
    display: block;
}
.card_pri .card_hover p {
    margin: 20px 0 40px;
}
.card_biz .card_hover p,
.card_uni .card_hover p {
    margin: 30px 0 50px;
}
.card_hover span b {
    font-size: 22px;
    color: #3B61D5;
}
.card_display img {
    width: 70px;
    height: 70px;
}
.card_display span {
    display: block;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
.card_hover {
    display: none;
}
.card_hover h2 {
    margin: 20px 0;
}
.card_hover h2 p {
    font-weight: normal;
    line-height: 22px;
}
.card_border {
    position: absolute;
    background: #FFF;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px dashed rgba(59, 97, 213, 0.5);
    border-radius: 12px;
    z-index: -1;
}

.card_pri a[class="card_ani"]:hover .card_display {
    display: none;
}
.card_pri a[class="card_ani"]:hover .card_hover {
    display: block;
}
.card_biz a[class="card_ani"]:hover .card_display {
    display: none;
}
.card_biz a[class="card_ani"]:hover .card_hover {
    display: block;
}
.card_uni a[class="card_ani"]:hover .card_display {
    display: none;
}
.card_uni a[class="card_ani"]:hover .card_hover {
    display: block;
}



.voucher .list_container {
    width: 1040px;
}
.voucher .list_container .title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 10px;
}
.voucher .list_container .title span {
    display: inline-block;
    margin-left: 5px;
    color: #999999;
}
.voucher .list_container .wrap_search {
    float: right;
    margin-top: 10px;
}
.voucher .list_container .wrap_search .date_range {
    display: inline-block;
    width: 250px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    padding: 10px 10px 10px 16px;
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    cursor: pointer;

    background: url('images/icon_calendar.png') no-repeat;
    background-position: right 10px center;
    background-color: #FFF;
    vertical-align: top;
}
.voucher .list_container .wrap_search .wrap_select {
    display: inline-block;
    width: 160px;
    height: 38px;
}
.voucher .list_container .wrap_search .wrap_select .selectric-wrapper .label {
    height: 38px;
}
.voucher .list_container .interview_list {
    position: relative;
    margin-top: 68px;
}
.voucher .list_container .interview_list ul {
    position: relative;
}
.voucher .list_container .interview_list ul .wrap_btn_down {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.voucher .list_container .interview_list ul .wrap_btn_down .btn_scroll {
    background: url('images/btn_down.svg') no-repeat;
    width: 50px;
    height: 50px;
    z-index: 100;
}
.voucher .list_container .interview_list .item {
    position: relative;
    display: inline-block;
    background: #FFF;
    width: 505px;
    height: 180px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
}
.voucher .list_container .interview_list .item:hover {
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.08);
}
.voucher .list_container .interview_list .item:nth-child(odd) {
    margin-right: 20px;
}
.voucher .list_container .interview_list .item.ongoing {
    background: #FDF0DC;
}
.voucher .list_container .interview_list .item.inaccurate {
    background: #F6F6F6;
}
.voucher .list_container .interview_list .item span {
    display: block;
}.voucher .list_container .interview_list .item .corp {
    font-size: 18px;
    margin-bottom: 10px;
}
.voucher .list_container .interview_list .item .date {
    font-size: 12px;
    color: #666666;
}
.voucher .list_container .interview_list .item .employ {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    font-style: normal;
}
.voucher .list_container .interview_list.biz_list .item .employ {
    height: 70px;
}
.voucher .list_container .interview_list.uni_list .item .employ {
    height: 43px;
}
.voucher .list_container .interview_list .item .score {
    color: #3B61D5;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}
.voucher .list_container .interview_list .item.ongoing .score,
.voucher .list_container .interview_list .item.inaccurate .score {
    color: #999999;
}
.voucher .list_container .interview_list .item a.status {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    height: 20px;
    line-height: 24px;
    font-size: 16px;
    padding-right: 20px;
    background: url('images/icon_chevron_right.svg') no-repeat;
    background-position: right center;
}
.voucher .list_container .interview_list .item .end {
    display: block;
    font-size: 16px;
    color: #999999;
}
.voucher .list_container .interview_list .item.inaccurate a.status,
.voucher .list_container .interview_list .item.done a.status {
    color: #999999;
    background: url('images/icon_chevron_right_gray.svg') no-repeat;
    background-position: right center;
}


















/* 모달 */
.wrap_modal {
	display: none;
}
.voucher .voucher_modal {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.voucher .voucher_modal .voucher_modal_body {
    position: relative;
    width: 460px;
}
.voucher .voucher_modal .voucher_modal_body > div.wrap_close {
    position: relative;
    width: 460px;
    height: 40px;
}
.voucher .voucher_modal .voucher_modal_body .voucher_close {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(images/btn_close.png) no-repeat;
    background-size: contain;
}
.voucher .voucher_modal .voucher_modal_body > section.inner_body {
    position: relative;
    background: #FFF;
    width: 460px;
    padding: 30px 50px;
    border-radius: 10px;
}
.voucher .voucher_modal .voucher_modal_body h5.title {
    font-size: 20px;
    font-size: 400;
    margin: 0;
}
.voucher .voucher_modal .voucher_modal_body h5.title span {
    font-size: 14px;
    color: #999999;
    margin-left: 4px;
}
.voucher .voucher_modal .voucher_modal_body p.sub_txt {
    margin-top: 4px;
    font-size: 14px;
}
.voucher .voucher_modal .voucher_modal_body form > div {
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .form_row {
    margin-bottom: 10px;
}
.voucher .voucher_modal .voucher_modal_body .join_row > label,
.voucher .voucher_modal .voucher_modal_body .form_row > label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}
.voucher .voucher_modal .voucher_modal_body .form_row > textarea { 
    width: 360px;
    height: 121px;
    padding: 10px 16px;

    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    resize: none;
}
.voucher .voucher_modal .voucher_modal_body textarea::placeholder {
    color: #999999;
    font-size: 13px;
}
.voucher .voucher_modal .voucher_modal_body input[type="text"] {
    width: 360px;
    height: 42px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-top: 4px;
    padding: 13px 16px;
}
.voucher .voucher_modal .voucher_modal_body input:focus,
.voucher .voucher_modal .voucher_modal_body textarea:focus {
    outline: 1px solid #3B61D5;
}
.voucher .voucher_modal .voucher_modal_body input.error {
    outline: 1px solid #EF3454;
}
.voucher .voucher_modal .voucher_modal_body .login label:nth-of-type(2) {
    margin-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .login .find_pw {
    float: right;
    margin-top: 4px;
    text-decoration: underline;
    color: #999999;
    background: none;
}
.voucher .voucher_modal .voucher_modal_body .btn_blue,
.voucher .voucher_modal .no_email_popup .btn_blue {
    width: 100%;
    height: 48px;
    background: #3B61D5;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .btn_white {
    width: 100%;
    height: 48px;
    background: #FFF;
    border: 1px solid #3B61D5;
    border-radius: 4px;
    color: #3B61D5;
    font-size: 16px;
    margin-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .login p {
    color: #999999;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .login p button {
    color: #3B61D5;
    text-decoration: underline;
    background: none;
}
.voucher .voucher_modal .voucher_modal_body .sns {
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .sns label {
    display: block;
    font-size: 14px;
    color: #999999;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body .sns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .sns button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.voucher .voucher_modal .voucher_modal_body .sns button.naver {
    background: url('images/btn_social_naver.svg') no-repeat;
}
.voucher .voucher_modal .voucher_modal_body .sns button.kakao {
    background: url('images/btn_social_kakao.svg') no-repeat;
}
.voucher .voucher_modal .voucher_modal_body .sns button.facebook {
    background: url('images/btn_social_facebook.svg') no-repeat;
}
.voucher .voucher_modal .voucher_modal_body .sns button.apple {
    background: url('images/btn_social_apple.svg') no-repeat;
}
.voucher .voucher_modal .voucher_modal_body .process {
    width: 100%;
    height: 22px;
    margin-top: 5px;
}
.voucher .voucher_modal .voucher_modal_body .process > div {
    float: right;
}
.voucher .voucher_modal .voucher_modal_body .process span {
    display: inline-block;
    width: 5.99px;
    height: 6px;
    margin-left: 10px;
    background: #DDDDDD;
    border-radius: 50%;
}
.voucher .voucher_modal .voucher_modal_body .process .ongoing {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 24px;  
    background: #3B61D5;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}
.voucher .voucher_modal .voucher_modal_body .agree p {
    margin-top: 30px;
    font-size: 16px;
}
.voucher .voucher_modal .voucher_modal_body .agree p span {
    color: #999999;
    font-size: 12px;
}
.voucher .voucher_modal .voucher_modal_body .agree .all input[type=checkbox] + label {
    background: url('images/icon_checkbox_none.png') left/22px no-repeat;
    background-size: contain;
    padding-left: 40px;
    font-size: 16px;
    color: #3B61D5;;
}
.voucher .voucher_modal .voucher_modal_body .agree .all input[type=checkbox]:checked + label {
    background: url('images/icon_checkbox_checked.png') left/22px no-repeat;
    background-size: contain;
}
.voucher .voucher_modal .voucher_modal_body .agree .each input[type=checkbox] + label {
    display: inline-block;
    background: url('images/img_uncheck.png') left/22px no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.voucher .voucher_modal .voucher_modal_body .agree .each input[type=checkbox]:checked + label {
    background: url('images/img_check.png') left/22px no-repeat;
    background-size: contain;
}
.voucher .voucher_modal .voucher_modal_body .agree .each a {
    width: 22px;
    height: 22px;
    background: url('images/icon_next.png') no-repeat;
    float: right;
}
.voucher .voucher_modal .voucher_modal_body .agree .each span {
    display: block;
    margin: 14px 0 0 40px;
}
.voucher .voucher_modal .voucher_modal_body .agree .each span label:first-of-type {
    margin-right: 10px;
}
.voucher .voucher_modal .voucher_modal_body .error_txt {
    width: 100%;
    height: 18px;
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .error_txt span {
    display: block;
    color: rgba(239, 52, 84, 1);
    font-size: 14px;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body span.red {
    display: inline-block;
    color: #F34235;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row > div {
    position: relative;
    width: 360px;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row button.confirm {
    position: absolute;
    right: 17px;
    bottom: 9px;
    width: 60px;
    height: 24px;
    background: #3B61D5;
    border-radius: 3px;
    font-size: 12px;
    color: #FFF;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row #wrap_email_check {
    /* display: none; */
    margin-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row > a#no_email {
    font-size: 11px;
    color: #3B61D5;
    text-decoration: underline;
    cursor: pointer;
}
.voucher .voucher_modal .no_email_popup {
    display: none;
    position: absolute;
    width: 365px;
    top: 250px;
    left: 65px;
    border-radius: 10px;
    background: #FFF;
    padding: 30px 20px;
    box-shadow: 0px 16px 40px #0000001a;
}
.voucher .voucher_modal .no_email_popup b {
    font-size: 16px;
    font-weight: 500;
}
.voucher .voucher_modal .no_email_popup ul {
    margin: 0;
    padding: 20px 20px 0 20px;
    word-break: keep-all;
}
.voucher .voucher_modal .no_email_popup ul li:not(:last-child) {
    margin-bottom: 10px;
}
.voucher .voucher_modal .link_gray {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #999999;
    text-decoration: underline;
}

.voucher .voucher_modal .voucher_modal_body .form .form_row:not(:last-child) {
    margin-bottom: 10px;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row > span.red {
    display: block;
    margin-top: 4px;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row .wrap_select {
    display: flex;
    width: 100%;
    gap: 10px;
}
.voucher .voucher_modal .voucher_modal_body .form .form_row .wrap_select .selectric-wrapper {
    flex: 1;
}
.voucher .voucher_modal .voucher_modal_body .find_pw {
    margin-top: 30px;
}
.voucher .voucher_modal .voucher_modal_body .find_pw_send {
    margin: 68px 0 46px;
    text-align: center;
    word-break: keep-all;
}
.voucher .voucher_modal .voucher_modal_body .find_pw_send p:nth-of-type(2) {
    color: #999999;
    font-size: 12px;
    margin-top: 10px;
}
#voucher_check_job .voucher_modal_body {
    padding: 50px 50px 30px 50px;
}
#voucher_check_job h6 {
    font-size: 20px;
    text-align: center;
}
#voucher_check_job .check_job {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
#voucher_check_job span.gray {
    font-size: 12px;
    color: #999999;
}
#voucher_check_job .checkbox_square {
    margin: 20px 0;
}
.voucher .voucher_modal .wrap_btn {
    padding: 0;
}
.voucher .voucher_modal .wrap_btn button {
    display: inline-block;
    width: 175px;
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
}
.voucher .voucher_modal .wrap_btn button:first-of-type {
    background: #FFFFFF;
    border: 1px solid #3B61D5;
    margin-right: 5px;
    color: #3B61D5;
    font-weight: 400;
}
.voucher .voucher_modal .wrap_btn button:last-of-type {
    background: #3B61D5;
    color: #FFF;
}

.voucher .voucher_modal_small .voucher_modal_body {
    width: 320px;
}
.voucher .voucher_modal .voucher_modal_body .inner_body.modal_complete {
    width: 320px;
    padding: 30px 20px 20px 20px;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body .info_title {
    font-size: 16px;
    margin: 10px 0;
}
.voucher .voucher_modal#voucher_form_myInfo .voucher_modal_body .agree p {
    margin-top: 15px;
}
.voucher .voucher_modal#voucher_form_myInfo .link_gray {
    margin-top: 30px;
}
#voucher_form_withdraw .wrap_btn {
    margin-top: 30px;
}
#voucher_form_withdraw .withdraw_txt {
    margin-top: 20px;
}
#voucher_form_withdraw .withdraw_txt .title {
    font-size: 14px;
}
#voucher_form_withdraw .withdraw_txt ul {
    list-style-type: decimal;
    padding-left: 15px;
    margin: 10px 0 0 0;
    word-break: keep-all;
}
#voucher_form_withdraw .withdraw_txt ul li {
    font-size: 13px;
    color: #666666;
}
#voucher_ninterviewList_none .info_txt {
    margin-top: 25px;
}
.voucher .voucher_modal .voucher_modal_body .interview {
    padding: 30px !important;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body .interview h5 {
    font-size: 20px;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body .interview input {
    width: 175px;
    margin-top: 15px;
    text-align: center;
}
.voucher .voucher_modal .voucher_modal_body .interview input::placeholder {
    text-align: center;
    color: #999999;
}
.voucher .voucher_modal .voucher_modal_body .interview .gray {
    font-size: 12px;
    color: #999999;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .interview .error_txt {
    height: 35px;
    margin: 5px 0 0 0;
}
.voucher .voucher_modal .voucher_modal_body .interview .error_txt span {
    font-size: 11px;
}
.voucher .voucher_modal .voucher_modal_body .interview .checkbox_square {
    margin-top: 10px;
    text-align: left;
}
.voucher .voucher_modal .voucher_modal_body .interview .checkbox_square label {
    color: #999;
    font-size: 12px;
}
.voucher .voucher_modal .voucher_modal_body .interview .transfer {
    margin-top: 30px;
    word-break: keep-all;
}
.voucher .voucher_modal .voucher_modal_body .interview .transfer p:last-of-type {
    margin-top: 10px;
}
.voucher .voucher_modal .voucher_modal_body .interview .transfer p:last-of-type span {
    color: #3B61D5;
}
.voucher .voucher_modal .voucher_modal_body .interview .checkbox_square b {
    color: #999999;
    font-size: 12px;
}
.voucher .voucher_modal .voucher_modal_body .interview .checkbox_square .error_txt {
    height: 20px;

}

@media all and (max-height: 800px){
    .voucher .voucher_modal.voucher_modal_scroll .voucher_modal_body > section {
        height: 600px;
        overflow-y: scroll;
    }
}