@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
    box-sizing: border-box;
}
body {
    font-family: "Pretendard Variable", Pretendard;
}
header {
    border: 1px solid red;
    display: flex;
    width: 100%;;
    height: 84px;
}
header h1 {
    border: 1px solid red;
    width: 290px;
    height: 84px;
}
header h1 a {
    display: block;
    background: url('../images/img_logo.svg') no-repeat center / 140px;
    width: 140px;
    height: 36px;
    margin: 24px auto 0;
    cursor: pointer;
}
header ul {
    display: flex;
    gap: 10px;
    align-items: center;
}
header ul li {
    position: relative;
    width: 110px;
    height: 72px;
    padding-top: 49px;
    text-align: center;
    color: #555555;
    font-size: 15px;
    cursor: pointer;
}
header ul li::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 36px;
    background-size: 36px;
    background-position: center;
    background-repeat: no-repeat;
}
header ul li:nth-of-type(1):before {
    background: url('../images/icon_menu_01.png');
}
header ul li:nth-of-type(2):before {
    background: url('../images/icon_menu_02.png');
}
header ul li:nth-of-type(3):before {
    background: url('../images/icon_menu_03.png');
}
header ul li:nth-of-type(4):before {
    background: url('../images/icon_menu_04.png');
}
header ul li:nth-of-type(5):before {
    background: url('../images/icon_menu_05.png');
}
header ul li:nth-of-type(6):before {
    background: url('../images/icon_menu_06.png');
}
header ul li:nth-of-type(7):before {
    background: url('../images/icon_menu_07.png');
}
header ul li:nth-of-type(8):before {
    background: url('../images/icon_menu_08.png');
}
header ul li.on::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #333333;
    width: 51px;
    height: 2px;
}
header ul li:hover {
    background: #F9F9F9;
    border-radius: 6px;
}