
body {
  margin: 0;
  overflow: hidden;
}
.wrap_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  position: relative;
  color: #FFF;
}
.page_01 {
  background-color: #3F51B5;
}
.page_02 {
  background-color: #673AB7;
}
.page_03 {
  background-color: #9C27B0;
}
.page_04 {
  background-color: #E91E63;
}
.page_05 {
  background-color: #F44336;
}
.page_06 {
  background-color: #4CAF50;
}
