header .wrapper{width:100vw; max-width: 1085px;}
header .wrapper:after {content:''; display:block; clear:both;}
header {position:relative; z-index:5; height:80px; box-shadow: 0px 3px 16px #00000014; opacity: 1;}
header h1 {float:left; width:125px; height:40px; margin:20px 0 0 20px; text-indent:-9999px; background:url('../images/ico/') no-repeat 0 0; background-size:100%;}
header h1 a {display:block; width:100%; height:100%;}
header nav {float: right;; position:relative; width:calc(100% - 150px); margin: 0 0 0 0px;}
header nav h2 {display:none; position:absolute; top:-65px; right:30px; width:30px; height:24px; text-indent:-9999px; cursor:pointer; background:url(../images/ico/ico_menu.svg) no-repeat 0 0;}
header nav > ul {float: right; margin-right: 10%;}
header nav > ul > li {float:left; position:relative; z-index:5;}
header nav > ul > li:last-child {padding-right:0;} 
header nav > ul > li > a {display:block; padding:28.5px 45px; font-size:18px; font-weight:700;}
header nav > ul > li:hover > a:before {display:block; left:0; width:100%;}
header nav > ul > li > a:before {content:''; position:absolute; z-index:9999; bottom:-1.5px; left:50%; width:0; height:3px; background:#3D3CD6; transition:all .3s}
header nav > ul > li.on > a:before {left:0; width:100%;}

.util::after {content:''; display:block; clear:both;}
.util {position:absolute; top:0; right:0; margin:20px 0 0 0;}
.util li {float:left; text-align:center;}
.util li a {display:inline-block; width:100%; height:100%; font-size:18px; line-height:40px;}
.util li a span {margin: 0 10px 0 14px;}
.util .hidden_mymenu {width: 200px;height: 239px;position: absolute;top: 50px;left: -82px; padding: 15px 10px; background: url('/resources/images/dummy/img-bubble.svg') no-repeat center center;}
.util .hidden_mymenu li {display: block;width: 100%;text-align: left;}
.util .hidden_mymenu li a {width: 100%;display: block;font-size: 16px;line-height: 24px;padding: 7px 15px;margin: 3px 0;}
.util .hidden_mymenu li a:hover{background: #F7F8FA 0% 0% no-repeat padding-box; border-radius: 5px;}
.arrow_top {position: absolute;top: -11px;left: 86.5px;display: block;}
.arrow_top::after {content: '';position: relative;width: 13px; /* 사이즈 */height: 13px; /* 사이즈 */border-top: 1px solid #ddd; /* 선 두께 */border-right: 1px solid #ddd; /* 선 두께 */background-color: #fff;display: inline-block;transform: rotate(315deg); /* 각도 */}
.menu_bg {display:none; position:absolute; z-index:1; top:80px; left:0; width:100%; height:180px; border-top:1px solid #ddd; box-shadow:0px 3px 6px #00000029; background:#fff;}
.submenu {display:none; position:absolute; z-index:-1; top:80px; left:0; padding:25px 0 0px 0; width:100%; text-align:center;}
.submenu li {width:100%;}
.submenu li a {display:block; color:#1F1F1F; padding:10px 0px; font-size:18px;}
.submenu li:hover a {color:#3D3CD6; font-weight:bold;}

header.pc_menu .submenu {display:block;}
header.pc_menu .menu_bg {display:block;}
