* { box-sizing: border-box; font-family: 'AppleSDGothicNeo', sans-serif; }
html { font-size: 16px; }
html, body, h3, ul, p { margin: 0; padding: 0; }
ul li { list-style: none; }
button { outline: none; border: none; }
#my_grade {
	position: relative;
    overflow: hidden;
}
#my_grade .wrap_page {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
#my_grade .wrap_page .wrap_contents {
    z-index: 3;
}
#my_grade .wrap_page h3 {
    font-size: 20px;
    font-weight: 700;
}
#my_grade .wrap_page .wrap_contents p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin: 6px 0;
}
#my_grade .wrap_page #back {
    position: absolute;
    top: 55px;
    left: 25px;
    width: 24px;
    height: 24px;
    background: url('images/btn_back_m.svg') no-repeat;
    z-index: 5;
    cursor: pointer;
}
#my_grade .page_1 #particles {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #10103D 0%, #01011A 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -5;
}
#my_grade .page_1 .particle_bg {
    background: url('images/img_main01_bg.svg') no-repeat;
    background-size: 140%;
    background-position: left 70% center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}
#my_grade .wrap_page.page_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 513px;
}
#my_grade .wrap_page.page_1 .wrap_contents .title p {
	display: block;
	color: #FFFFFF;
    line-height: 30px;
    margin-top: 30px;
    font-size: 14px;
}
#my_grade .wrap_page.page_1 .wrap_contents .title p span {
    background: linear-gradient(90deg, #6C21E1 -3.89%, #0068ED 103.7%);
    padding: 3px 5px;
    font-weight: bold;
    font-size: 18px;
}
#my_grade .wrap_page.page_1 .wrap_contents p.time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    z-index: 200;
}
#my_grade .wrap_page.page_2 {
    position: relative;
    background-color: #F6F7FC;
    height: 270px;
    padding: 30px 0;
}
#my_grade .wrap_page.page_2 h3 {
    font-size: 16px;
    font-weight: 700;
}
.typing_txt{
    display: none;
}
#my_grade .wrap_page .wrap_typing .typing {
    z-index: 100;
}
#my_grade .wrap_page .typing ul li{
    display:block;
    background-size: contain;
    width: 260px;
    height: 78px;
    line-height: 60px;
    color: #5F4EEE;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto;
}
#my_grade .wrap_page .typing ul li:nth-of-type(1) {
    background: url(images/img_chat01_m.png) no-repeat;
    background-size: contain;
    margin-top: 30px;
}
#my_grade .wrap_page .typing ul li:nth-of-type(2) {
    background: url(images/img_chat02_m.png) no-repeat;
}
#my_grade .wrap_page .typing ul li.on {  
    display: inline-block; 
} 
#my_grade .wrap_page .wrap_circle {
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 270px;
    overflow: hidden;
    animation: chameleon 19s infinite;
    z-index: 0;
}
#my_grade .wrap_page .wrap_circle .flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#my_grade .wrap_page .wrap_circle .center {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}
#my_grade .wrap_page .wrap_circle .center .waves {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    opacity: 0.5;
}
#my_grade .wrap_page .wrap_circle .center .waves.waves1::before, 
#my_grade .wrap_page .wrap_circle .center .waves.waves1::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(59, 97, 213, 0.3) 0%, rgba(95, 78, 238, 0.3) 50%);
    width: 330px;
    height: 330px;
    border-radius: 50%;
    animation: wave 6s infinite linear;
    left: 0;
}
#my_grade .wrap_page .wrap_circle .center .waves.waves1::after {
    opacity: 0;
    animation: wave 6s 1s infinite linear;
}
#my_grade .wrap_page .wrap_circle .center .waves.waves2::before, 
#my_grade .wrap_page .wrap_circle .center .waves.waves2::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(59, 97, 213, 0.3) 0%, rgba(95, 78, 238, 0.3) 50%);
    width: 330px;
    height: 330px;
    border-radius: 50%;
    animation: wave 6s infinite linear;
    animation-delay: 2s;
    left: 0;
    opacity: 0;
}
@keyframes wave {
    0%  {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
#my_grade .wrap_page.page_3 {
    position: relative;
    background: #5F4EEE;
    padding: 30px 20px;
}
#my_grade .wrap_page.page_3 .background {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#my_grade .wrap_page.page_3 .background > span:nth-of-type(1) {
    position: absolute;
    left: 40%;
    top: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(140, 125, 235, 0.28) 0%, rgba(213, 206, 255, 0) 100%);
    background-blend-mode: overlay;
    filter: drop-shadow(0px 6px 16px rgba(52, 34, 172, 0.08));
    transform: rotate(15deg);
}
#my_grade .wrap_page.page_3 .background > span:nth-of-type(2) {
    position: absolute;
    left: -50px;
    top: 405px;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(140, 125, 235, 0.24) 0%, rgba(213, 206, 255, 0) 100%);
    background-blend-mode: overlay;
    box-shadow: 0px 6px 16px rgba(52, 34, 172, 0.08);
    transform: rotate(56.98deg);
}
#my_grade .wrap_page.page_3 .background > span:nth-of-type(3) {
    position: absolute;
    right: -15px;
    top: 395px;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(140, 125, 235, 0.34) 0%, rgba(213, 206, 255, 0) 100%);
    background-blend-mode: overlay;
    filter: drop-shadow(0px 6px 16px rgba(52, 34, 172, 0.08));
    transform: rotate(56.98deg);
}
#my_grade .wrap_page.page_3 h3 {
    color: #FFFFFF;
    text-align: left;
}
#my_grade .wrap_page.page_3 .wrap_contents p {
    text-align: left;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph {
    background: url('images/graph_line_m.svg') no-repeat;
    background-position: top center;
    height: 220px;
    padding: 0;
    margin: 70px auto 0;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar {
    position: relative;
    display: inline-block;
    width: 55px;
    vertical-align: top;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .wrap_max {
    position: relative;
    position: absolute;
    width: 55px;
    height: 150px;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .max {
    position: absolute;
    background: url('images/icon_max_grade.svg') no-repeat;
    background-size: contain;
    width: 80px;
    height: 60px;
    margin-left: -13px;
    margin-bottom: -5px;
    padding: 7px 0;
    font-size: 12px;
    color: #5F4EEE;
    text-align: center;
    z-index: 5;
    /* opacity: 0; */
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .max b {
    font-size: 14px;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .bar {
    position: relative;
    width: 20px;
    height: 150px;
    margin: 0 auto;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .bar .progress {
    background: linear-gradient(180deg, #8B79FF 0%, rgba(255, 255, 255, 0) 100%);
    width: 20px;
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
}
.wrap_page.page_3 .wrap_contents .result.wrap_grade .wrap_graph .wrap_bar .bar .progress.hit {
    background: linear-gradient(180deg, #FFD058 0%, #FF628F 100%);
}
.wrap_page.page_3 .wrap_contents .result.wrap_rank .wrap_graph .wrap_bar .bar .progress.hit {
    background: linear-gradient(180deg, #2EEEE3 0%, #0068ED 100%);
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .font {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 300;
    padding-top: 5px;
}
.wrap_page.page_3 .wrap_contents .result.wrap_rank {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
#my_grade .wrap_page.page_4 {
    background: #181834;
    background-image: url('images/img_main04_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
#my_grade .wrap_page.page_4 h3 {
    color: #FFFFFF;
}
#my_grade .wrap_page.page_4 strong {
    display: block;
    margin: 30px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    font-family: 'KOHIBaeum', sans-serif;
}
#my_grade .wrap_page.page_4 strong em {
    color: #5F4EEE;
    font-style: normal;
    font-weight: 400;
    font-family: 'KOHIBaeum', sans-serif;
}
#my_grade .wrap_page.page_4 button {
    background: #5F4EEE;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
#my_grade .wrap_page.page_5 {
    background: url('images/img_main05_bg.svg') no-repeat;
    background-position: left 45% top 10%;
    background-size: 140%;
    padding: 30px 0;
}
#my_grade .wrap_page.page_5 p {
    margin-top: 6px;
    color: rgba(51, 51, 51, 0.6);
}
#my_grade .wrap_page.page_5 strong {
    display: block;
    margin-top: 30px;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    font-family: 'KOHIBaeum', sans-serif;
}
#my_grade .wrap_page.page_5 strong em {
    color: #5F4EEE;
    font-weight: 400;
    font-style: normal;
    font-family: 'KOHIBaeum', sans-serif;
}
#my_grade .wrap_page.page_6 {
    background: #5F4EEE;
    padding: 30px 20px;
}
#my_grade .wrap_page.page_6 .wrap_contents .slider .slider_cont {
    background: #FFFFFF;
    width: 320px;
    height: 180px;
    box-shadow: 0px 6px 16px rgba(61, 48, 172, 0.16);
    border-radius: 10px;
    padding: 30px 0;
}
#my_grade .wrap_page.page_6 .wrap_contents p {
    color: rgba(51, 51, 51, 0.6);
}
#my_grade .wrap_page.page_6 .wrap_contents .slider .slider_cont b {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'KOHIBaeum', sans-serif;
    color:  rgba(51, 51, 51, 0.6);
}
#my_grade .wrap_page.page_6 .wrap_contents b em {
    color: #2EEEE3;
    font-family: 'KOHIBaeum', sans-serif;
    font-weight: 400;
    font-style: normal;
}
#my_grade .wrap_page.page_6 .wrap_contents .slider .slider_cont div {
    display: inline-block;
    background: url('images/img_user.svg') no-repeat;
    background-position: left center;
    background-size: 16px;
    padding-left: 20px;
    margin-top: 6px;
    color: rgba(51, 51, 51, 0.6);
    font-size: 12px;
}
#my_grade .wrap_page.page_6 .wrap_contents .slider .slider_cont div > b {
    display: inline-block;
    margin-top: 0;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    font-family: 'AppleSDGothicNeo', sans-serif;
}

.slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-indent: -9999px;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: #FFFFFF;
}

#my_grade .wrap_page.page_7 {
    background: url('images/img_main07_bg.svg') no-repeat;
    background-color: #181834;
    background-size: contain;
    background-position: center;
    padding: 30px 0;
    height: 350px;
}
#my_grade .wrap_page.page_7 h3 {
    color: #FFFFFF;
}