* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* print css */
.print_break {
	page-break-before:always;
}
@media print{
	.info_mt {
		margin-top: -30px
	}
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

body {
    margin:0;
    padding:0;
}

.report_header > div.file_btn {
    position: absolute !important;
    right: 0;
}

h3 {
	margin: 0;
}

button {
	border: none;
	background: none;
	cursor: default;
	pointer-events: none;
}

.w180 {
	width: 180px;
}

.report_contents .tab_total_container .tab_name {
	color: #929292;
	font-size: 20px;
}

.report_contents .tab_total_container .tab_name.on {
	border-bottom: 4px solid #137DDE;
	color: #333333;
	font-weight: bold;
}

.fontSize26 {
	display: inline-block !important;
	font-size: 26px;
	margin-left: 8px;
}

.mt-15 {
	margin-top: -15px;
} 

.mt-30 {
	margin-top: -30px;
} 

.mb300 {
	margin-bottom: 300px;
}




main#pdfPrint {
	box-shadow: none;
}

#pdfPrint .total_grade > .total_grade_contents {
	border: 1px solid #005FD9;
	border-radius: 10px;
}

#pdfPrint .tab_contents .gray_border {
	border: 1px solid #BBBBBB;
}

#pdfPrint .report_header {
	height: 130px;
}

#pdfPrint .report_header > div {
	position: static;
    padding: 35px 0 30px;
}

#pdfPrint .report_header h3 {
	vertical-align: top;
	padding-top: 10px;
}

#pdfPrint .report_info {
	height: 150px;
	width: 96%;
    padding: 30px 0 0;
    margin: 0 auto;
}

#pdfPrint .report_info table {
    width: 98%;
	margin-left: 10px;
}
#pdfPrint .report_info table td {
	padding: 5px;
	font-size: 16px;
}

#pdfPrint .report_info table td:nth-child(even) {
	font-weight: bold;
}

#pdfPrint .report_contents {
	background: #FFF;
    padding: 40px 20px;
}

#pdfPrint .report_contents .tab_contents {
	padding: 20px 0 0;
}

#pdfPrint .report_contents .tab_total_contents {
	margin-top: -7px;
}

#pdfPrint .report_contents .tab_container .tab_name {
    margin-right: 50px;
}

#pdfPrint .report_contents .tab_contents h4,
#pdfPrint .report_contents .tab_contents h5 {
	margin: 0;
}

#pdfPrint .total_grade > div {
	height: 360px;
}

#pdfPrint .total_grade > .total_grade_contents > div:last-child {
	height: 195px;
    z-index: -1;
}

#pdfPrint .gradeMark {
    width: 200px;
    margin-top: 0;
    margin-left: 10px;
}

#pdfPrint .total_grade > .total_grade_contents div span:nth-child(1) em {
	font-size: 52px;
}

/* #pdfPrint .total_grade > .total_grade_contents div span em {
	font-size: 48px;
	font-weight: normal;
} */

/* #pdfPrint .total_grade > .total_grade_contents div span:nth-child(2) em {
	font-size: 52px;
} */

#pdfPrint .total_grade > .total_grade_contents > div:last-child > span#myGrade {
    width: 100%;
    height: 115px;
    padding-top: 70px;
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    z-index: 200;
}

#pdfPrint .total_grade > .total_grade_contents > div:last-child div > img {
	width: 220px;
}

#pdfPrint .total_grade > .total_grade_contents > div:last-child > div > span {
    margin: -16px 0 0 4px;
}

#pdfPrint .total_grade > .total_grade_contents > div:last-child div span img {
    margin-left: 8px;
}

#pdfPrint .total_grade > .total_grade_contents > div:last-child > div > div.allGrade > span {
    padding-left: 7.5px;
}

#pdfPrint .total_grade .total_rank_contents > div {
	width: 100%;
	margin-top: 20px;
}

#pdfPrint .total_grade .total_rank_contents > div > span {
	display: inline-block ;
	width: 200px;
	margin-top: 0;
}


#pdfPrint .propensity table.table_propensity tr th {
    height: 48px;
}

#pdfPrint .explanation .ai_comment {
	padding: 36px 50px;
    background-size: 95px, 975px;
}
#pdfPrint .explanation .ai_comment p {
    margin-top: -10 !important;
    font-size: 14px;
}

#pdfPrint .explanation .ai_comment p span {
	margin: 5px 0;
}

#pdfPrint .explanation .reply_comment {
    width: 975px;
}

.average_arrow .arrow_point {
	font-size: 11px;
}

.average_arrow .arrow_point:first-child {
	color: #2A3F61;
}

.average_arrow .arrow_point:last-child {
	color: #FFAA30;
}




.border_round {
    border-radius: 10px !important;
}

#pdfPrint #analysis_video #analysis_action .action_fir {
    vertical-align: top;
    height: 570px;
}

#pdfPrint .question_sec video {
	margin: 10px 0;
}

#pdfPrint .question_sec .print_video {
    background: black;
    width: 420px;
    height: 250px;
    margin: 10px 0;
}

#pdfPrint .question_sec .question_btn {
	top: 268px;
}

#pdfPrint #analysis_action .question {
	padding: 15px;
	margin-top: 60px;
}

#pdfPrint .action_fiv {
	height: 540px;
}
#pdfPrint .action_fiv span.blue {
	margin-top: 0;
}

#pdfPrint .action_fiv .posture {
	width: 450px;
    margin: 10px 0;
}


#pdfPrint .action_fiv .posture .video_posture_graph {
    margin: 15px 0;
    height: 230px;
}

#pdfPrint .action_fiv .posture .video_posture_graph > img.face_guide {
    top: 65px;
    left: 158px;
}

#pdfPrint .action_fiv .posture .video_posture_graph > img.body_guide {
	left: 110px;
}

#pdfPrint .video_total_graph {
	margin: -20px 20px 50px;
}

#pdfPrint .action_sec {
	height: 430px;
}   

#pdfPrint .action_sec .graph_label {
    margin: 10px auto 0;
}

#pdfPrint #emotion_chart {
	width: 750px !important;
    height: 280px !important;
    margin: 0 auto;
}

#pdfPrint .action_sec .video_emotion_graph {
    height: 250px;
    margin: 10px 0;
}


#pdfPrint .action_guide .video_gesture_graph > div.hitmap_my {
    margin: 0;
}

#pdfPrint .action_guide .video_gesture_graph .hitmap_all, 
#pdfPrint .action_guide .video_gesture_graph .hitmap_group {
	margin: 0 10px;
}





#pdfPrint .action_thi {
	height: 370px;
}

#pdfPrint .action_fou {
    height: 380px;
}

#pdfPrint .action_guide .video_eyes_graph > div.hitmap_my {
    margin: 0 33px 0 90px;
}

#pdfPrint .action_thi .video_eyes_graph,
#pdfPrint .action_fou .video_gesture_graph {
	height: 220px;
}





#pdfPrint #analysis_voice table.answer td:last-child {
	background: linear-gradient(90deg, #FFFFFF 96%, #C6DBEF 0);
    background-size: 30px 100%;
	border: none;
}

#pdfPrint #analysis_voice table.answer tr:last-child td:last-child {
	border-bottom: 1px solid #C6DBEF;
}


#pdfPrint #analysis_voice .language {
    width: 455px;
	height: 370px;
}

#pdfPrint #analysis_voice .language .video_bubble_graph{
	margin: 15px auto;
}

#pdfPrint .voice:first-of-type {
	vertical-align: top;
}

#pdfPrint .voice {
	display: inline-block;
	width: 420px;    
    margin-top: 15px;
}

#pdfPrint .video_explain {
	padding: 0;
}


.language_propensity {
	margin-top: 20px;
}

.language_propensity .video_language_graph {
    position: relative;
	height: 230px; 
	margin: 20px 0;
}

.video_language_graph > img {
	z-index: -1;
    margin-left: 165px;
}

.language_propensity .video_language_graph .avg_label {
	float: right;
	font-size: 12px;
	color: #333333;
	margin-right: 90px;
}

.language_propensity .video_language_graph .avg_label div span {
	vertical-align: top;
}

.language_propensity .video_language_graph .avg_label img {
	height: 36px;
}

.language_propensity .video_language_graph .lang_graph {
	padding-top: 70px;
}

.language_propensity .video_language_graph .lang_label {
	position: absolute;
	width: 535px;
	left: 190px;
}

.language_propensity .video_language_graph .lang_label img {
    position: absolute;
    bottom: -65px;
}

.language_propensity .video_language_graph .lang_my {
	position: relative;
    margin-left: 225px;
    margin-top: 50px;
    width: 537px;
}

.language_propensity .video_language_graph .lang_my > * {
	position: absolute;
}

.language_propensity .video_language_graph .lang_my > div {
	top: -17px;
    margin-left: -50px;
}

.language_propensity .video_language_graph .lang_my > div span {
    word-break: keep-all;
    color: #137DDE;
    font-size: 14px;
    text-align: center;
}

.language_propensity .video_language_graph .lang_my div * {
	display: block;
}

.language_propensity .video_language_graph .lang_my img {
	z-index: -1;
}

.lang_txt {
	margin-top: 25px;
    width: 530px;
    margin-left: 200px;
}

.lang_txt span {
    display: inline-block;
    width: 32.9%;
    font-size: 14px;
}

.lang_txt span:nth-child(1) {
	color: #FC6E51;
}

.lang_txt span:nth-child(2) {
	color: #0E9E13;
	text-align: center;
}

.lang_txt span:nth-child(3) {
	color: #56AAFF;
	text-align: right;
}

.voice .graph {
    position: relative;
}

#pdfPrint .relative .no_graph {
	width: 940px;
    height: 355px;
}





/* print css background  */	

#pdfPrint .propensity table.table_propensity tr th {
	background: #D9D9D9;
}

#pdfPrint .propensity table.table_propensity tr td {
	border: 1px solid #BBBBBB;
}

#pdfPrint .propensity table.table_propensity tr th:nth-child(2), .propensity table.table_propensity tr td:nth-child(2) {
	border: none !important;
    background: none;
}

#pdfPrint .propensity table.table_propensity tr th:nth-child(2), .propensity table.table_propensity tr td:nth-child(2) {
    border: none;
    background: none;
}

#pdfPrint .propensity .term .table_term th, 
#pdfPrint .propensity .term .table_term td {
	border: 1px solid #BBBBBB;
}

#pdfPrint .propensity .term .table_term tr:nth-child(even) {
	background: #E4E4E4;
}

#pdfPrint #analysis_action .question {
	background: #E2EFFC;
}

#pdfPrint #analysis_voice table.answer th {
	background: #E2EFFC;
}

#pdfPrint #analysis_voice table.answer td {
	border: 1px solid #C6DBEF;
} 

#pdfPrint .language_propensity .no_graph_box > img {
	margin-top: 20px;
}

#pdfPrint .video_emotion_graph .no_graph {
    height: 285px;
}

#pdfPrint .no_bubble {
	width: 340px;
    height: 235px;
    top: 65px;
    left: 65px;
}

#pdfPrint .action_fiv .posture .video_posture_graph .no_graph {
    height: 240px;
}

#pdfPrint .cover-video {
	top: -70px;
}





.plusPdf-1,.plusPdf-2 {
	display: inline;
}

.plusPdf-70 {
	height: 70px !important;	
}

.info_pt {
	padding-top: 10px !important;
}

















