* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

main {
	width: 1078px;
	margin: 60px auto;
	box-shadow: 0px 3px 6px #00000029;
}

.report_header {
	position: relative;
	margin: 0 auto;
	width: 1078px;
	text-align: center;
}

.report_header * {
	display: inline-block;
}

.report_header > div:first-child {
	text-align: center;
	padding: 25px 0;
}

.report_header h3 {
	font-size: 35px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 18px;
}

.report_header > div:last-child {
	position: absolute;
	right: 0;
	padding: 30px 0;
}

.report_header button {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 5%);
}

.report_header button:last-child {
	margin-left: 18px;
	margin-right: 45px;
}

.report_info {
	height: 150px;
	border-top: 1px solid #137DDE;
	padding: 30px 50px;
}

.report_info table, td {
	padding: 5px;
	font-size: 15px;
}

.report_info table td:nth-child(odd) {
	color: #666666;   
	font-size: 15px;
}

.report_info table td:nth-child(even) {
	color: #333333;    
	font-size: 15px;
	font-weight: 500;
}

/* 본문 */

.report_contents {
	background: #F5FAFE;
	padding: 40px 20px;
}

.report_contents .tab_title {
	position: relative;
	background: #CEE6FF;
	font-size: 20px;
	color: #5FA6E8;
	width: 150px;
	height: 65px;
	border-radius: 10px 10px 0 0;
	margin-right: 10px;
}

.report_contents .tab_title.on {
	position: relative;
	background: #FFF;
	border: 1px solid #005FD9;
	border-bottom: none;
	color: #137DDE;
	font-weight: bold;
    z-index: 115;
    height: 60px;
    vertical-align: top;
}

.report_contents .tab_total_contents {
    position: relative;
	background: #FFF;
	border: 1px solid #005FD9;
	border-radius: 0 10px 10px 10px;
	padding: 30px;
    margin-top: -6px;
    z-index: 110;
}

.report_contents .tab_total_contents#analysis_video {
    border-radius: 10px;
}

.report_contents .tab_container .tab_name {
	color: #929292;
	font-size: 20px;
}

.report_contents .tab_container .tab_name.on {
	border-bottom: 4px solid #137DDE;
	color: #333333;
	font-weight: bold;
}

.report_contents .tab_contents {
	padding: 35px 0 0;
}

.report_contents .tab_contents h4 {
	font-size: 28px;
	font-weight: bold;
}

.report_contents .tab_contents p {
	font-size: 15px;
	padding: 10px 0;
    line-height: 25px;
}

.tab_contents .gray_border {
	padding: 30px;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	box-sizing: border-box;
} 

.total_grade > div {
	display: inline-block;
	width: 475px;
	height: 280px;
	margin-top: 20px;
    vertical-align: top;
}

.total_grade > .total_grade_contents {
	margin-right: 20px;
	margin-bottom: 0 !important;
	border: 1px solid #005FD9;
}

.tab_contents h5 {
	font-size: 18px;
	font-weight: bold;
}

.total_grade > div {
	padding: 30px;
	box-sizing: border-box;
}

.total_grade > div > div {
	display: inline-block;
}

.w180 {
	width: 180px; 
}

.total_grade > .total_grade_contents div span {
	display: block;
	line-height: 54px;
}

.total_grade > .total_grade_contents div span:first-child {
	font-size: 44px;
}

.total_grade > .total_grade_contents div span em {
	color: #005FD9;
	font-size: 36px;
	font-weight: bold;
}

.gradeMark {
    position: absolute;
	width: 180px; 
    margin-top: -15px;
    margin-left: 20px;
    z-index: -200;
}

.total_grade > div > div:last-child {
	vertical-align: top;
}
.total_grade > div:first-child > div:last-child {
    height: 195px;
    z-index: -1;
}

.total_grade > .total_grade_contents > div:last-child > span#myGrade {
    width: 100%;
    height: 115px;
    padding-top: 45px;
    color: #FFF;
	font-size: 60px;
	font-weight: bold;
    text-align: center;
    z-index: 200;
}

.total_grade > .total_grade_contents > div:last-child div > img {
	width: 220px;
	height: 4px;
}

.total_grade > .total_grade_contents > div:last-child > div > span {
	margin: -15px 0 0 3px;
    height: 10px;
}

.total_grade > .total_grade_contents > div:last-child > div > div.allGrade {
	height: 20px;
	margin-left: 5px;
}

.total_grade > .total_grade_contents > div:last-child > div > div.allGrade > span {
	display: inline-block;
	/* width: 170px; */
	color: #666666;
	font-size: 12px;
	padding-left: 7.5px;
    margin-top: -10px;
}

.total_grade > .total_grade_contents > div:last-child div span img {
	width: 12px;
	margin-top: -44px;
	margin-left: 8px;
}

.total_grade .total_rank_contents > div {
	width: 190px;
}

.total_grade .total_rank_contents > div > span {
	display: block;
	color: #848484;
    margin-top: 10px;
}

.total_grade .total_rank_contents > div > span em {
	color: #005FD9;
	font-size: 50px;
	padding-right: 10px;
}

.total_grade .total_rank_contents > div > span > span {
	color: #2A3F61;
	font-size: 30px;
	padding: 0 5px 0 10px;
}

/* 종합 등급 분포도, 직군적합 */
.total_graph_contents > div {
	display: inline-block;
	height: 400px;
	vertical-align: top;
}

.total_graph_contents > div:first-child {
	width: 590px;
}

.total_graph_contents > div:first-child .total_grade_spread {
	/* border: 1px solid black; */
	width: 550px;
	height: 280px;
	margin-top: 40px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_y {
	display: inline-block;
	width: 20px;
	height: 250px;
	border-right: 1px solid #DDDDDD;
	color: #666666;
	font-size: 10px;
}
.total_graph_contents > div:first-child .total_grade_spread .spread_y span  {
    display: block;
	margin-bottom: 15px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_graph {
	display: inline-block;
	width: 520px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_graph > div {
    position: relative;
    width: 50px;
	height: 230px;
	border-radius: 7px;
    display: inline-block;
    margin-left: 4px;
}

.progress_bar {
    position: absolute;
    bottom: 0;
	width: 14px;
	background: #D3E8FF;
	border-radius: 7px;
    margin-left: 15px;
}

.spread_avg .progress_bar {
	background: #293E62;
}

.spread_mine .progress_bar {
	background: transparent linear-gradient(180deg, #54ADFF 0%, #2EEEE3 100%) 0% 0% no-repeat padding-box;
}

.spread_avg_txt {
	position: absolute;
	color: #293E62;
	font-size: 12px;
}

.spread_mine_num {
	position: absolute;    
	margin-bottom: 10px;
}

.spread_mine_num * {
	display: block;
	text-align: center;
	
}

.spread_mine_num em {
	color: #005FD9;
	font-size: 15px;
}

.spread_mine_num em b {
	display: inline-block;
	font-size: 20px;
}

.spread_mine_num span {
	color: #293E62;
	font-size: 12px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_x {
	width: 530px;
	height: 30px;
	border-top: 1px solid #DDDDDD;
    margin-top: -10px;
    margin-left: 10px;
    padding-left: 25px;
	color: #666666;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_x div {
	display: inline-block;
	width: 35px;
	height: 30px;
	text-align: center;
	margin-right: 18px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_x div span {
	display: block;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_x div span:first-child {
	font-size: 11px;
}

.total_graph_contents > div:first-child .total_grade_spread .spread_x div span:last-child {
	font-size: 12px;
}

/* 직군적합성 */
.total_graph_contents > div:last-child {
	width: 360px;
}

.total_graph_contents > div:last-child .jobFit h6 {
	font-size: 15px;
	margin: 20px 0 15px;
}

.total_graph_contents > div:last-child .jobFit canvas {
	display: block;
	width: 100%;
	height: 32px;
	border: 1px solid black;
	margin-top: 10px;
}

.total_graph_contents > div:last-child .jobFit .jobApply > div {
	height: 32px;
	margin-top: 10px;
}

.total_graph_contents > div:last-child .jobFit em {
    float: right;
    font-size: 13px;
    color: #2D2D2D;
}

.total_graph_contents > div:last-child .jobFit .jobApply > div .job_bar,
.total_graph_contents > div:last-child .jobFit .jobGroup > div .job_bar {
    display: inline-block;
	width: 8px;
	height: 36px;
	border-radius: 5px;
	background: #DEDEDE;
}

.total_graph_contents > div:last-child .jobFit .jobApply > div .job_bar.on {
	background: #FFAA30;
}

.total_graph_contents > div:last-child .jobFit .jobGroup > div .job_bar.on {
	background: #68B7FF;
}

.total_graph_contents > div:last-child .jobFit .jobApply > div .job_bar:not(:last-child),
.total_graph_contents > div:last-child .jobFit .jobGroup > div .job_bar:not(:last-child) {
	margin-right: 4px;
}

.total_graph_contents > div:last-child .jobFit .jobApply span,
.total_graph_contents > div:last-child .jobFit .jobGroup span:nth-child(2) {
	font-size: 14px;
	font-weight: bold;
	color: #005FD9;
}

/* 성향 분석 */

.propensity {
	padding: 30px;
}

.propensity table.table_propensity {
	font-size: 14px;
	text-align: center;
}

.propensity table.table_propensity tr th {
	height: 58px;
	background: #e8e8e8;
	border-radius: 10px 10px 0 0;
	border-bottom: 10px solid #fff;
	color: #101010;
}

.propensity table.table_propensity tr td{
	border-collapse: collapse;	
	border: 1px solid #DDDDDD;
	color: #333333;
	height: 76px;
}

.propensity table.table_propensity tr th:nth-child(2),
.propensity table.table_propensity tr td:nth-child(2) {
	width: 10px;
	border: none;
	background: none;
}

.propensity table.table_propensity tr td.average_arrow span {
	display: block;
	font-size: 11px;
}

.propensity table.table_propensity tr td.average_arrow span * {
	display: inline-block;
}

.propensity table.table_propensity tr td.average_arrow > span:first-of-type {
	width: 360px;
	color: #2A3F61;
    margin-top: -52px;
    margin-left: 59px;
} 

.propensity table.table_propensity tr td.average_arrow > span:last-of-type {
	color: #FFAA30;    
    margin-top: 12px;
}

.propensity table.table_propensity tr td.average_arrow span img {
	width: 24px;
}

.propensity table.table_propensity tr td.average_arrow > span:last-of-type span {
    vertical-align: sub;
}

/* --- */
.average_arrow .arrow_point {
	position: relative; 
	width: 380px; 
	margin-left: 80px; 
}

.average_arrow .arrow_point:first-child {
	top: -10px;
}

.average_arrow .arrow_point:last-child {
	top: -18px;
}

.average_arrow .arrow_point > span {
	position: absolute; 
	margin-left: -24px; 
	line-height: 24px;
}

.average_arrow .arrow_point > span img {
	width: 24px;
}

.average_arrow .arrow_point > span span {
	position: absolute; 
	word-break: keep-all; 
}

.average_arrow .arrow_point:first-child > span span {
	color: #2A3F61;
}

.average_arrow .arrow_point:last-child > span span {
	color: #FFAA30; 
	line-height: 34px;
}


.propensity .select_left.on {
	background: #FFEACB;
	font-weight: bold;
}

.propensity .select_right.on {
	background: #cdc8ff;
	font-weight: bold;
}

.propensity > span {
	display: block;
	color: #005FD9;
	font-size: 14px;
	margin-top: 10px;
}

.propensity > span img {
	vertical-align: bottom;
}

.propensity .term h6 {
    display: inline-block;
	font-size: 16px;
    box-shadow: inset 0 -10px 0 rgb(86 170 255 / 33%);
    margin-right: 15px;
}

.propensity .term .table_term {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #666666;
}

.propensity .term .table_term th, 
.propensity .term .table_term td {
	border: 1px solid #DDDDDD;
	height: 40px;
}

.propensity .term .table_term tr:nth-child(even) {
	background: #F4F4F4;
}

.propensity .term .table_term tr:first-of-type th {
	    border-radius: 10px 0 0 0;
}

.propensity .term .table_term tr:last-of-type th {
	    border-radius: 0 0 0 10px;
}

.propensity .term .table_term tr:first-of-type td {
	    border-radius: 0 10px 0 0;
}

.propensity .term .table_term tr:last-of-type td {
    border-radius: 0 0 10px 0;
}

.propensity .term .table_term th {
	width: 150px;
	font-weight: normal;
}

.propensity .term .table_term td {
	padding-left: 40px;
}

.explanation {
	display: block;
}

.explanation .ai_comment {
	margin: 20px 0;
	background-image: url('../images/report/img_deco_mark.svg'), url('../images/report/bg_comment.svg');
	background-position: 95% 20% ,0px 0px;
	background-repeat: no-repeat;
}

.explanation .reply_comment {
	width: 1038px;
	height: 94px;
	background: #293E62;
    padding: 25px 0;
}

.explanation .reply_comment span:first-of-type {
	display: inline-block;
	width: 124px;
	height: 38px;
	background: #FFF;
	color: #293E62;
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	border-radius: 10px 0 10px 10px;
	margin: 3px 50px;
    vertical-align: bottom;
}

.explanation .reply_comment > span:last-of-type {
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 22px;
}

.explanation .reply_comment span:last-of-type em {
	font-size: 18px;
}

.explanation .reply_comment span:last-of-type em em {
	font-size: 21px;
}

.ai_comment {
	padding: 45px 50px;
}

.ai_comment_header * {
	display: inline-block;
}

.ai_comment_header > div {
	background: transparent linear-gradient(87deg, rgba(84, 173, 255, .49) 0%, rgba(46, 238, 227, .49) 100%) 0% 0% no-repeat padding-box;
    background-size: 100% 17px;
    background-position: bottom;
}

.ai_comment_header h4 {
	font-size: 25px;
	font-weight: bold;
	opacity: 1;
}

.ai_comment p {
	font-size: 14px;
}

.ai_comment p span {
	display: block;
	margin: 10px 0;
	line-height: 25px;
}

.ai_comment p em {
	font-size: 16px;
	font-weight: bold;
}



/* 영상분석 > 행동분석 */

.report_contents .tab_total_contents#analysis_video {
	padding: 30px 20px;
}

#analysis_video .tab_video_button {
	padding-left: 10px;
}

#analysis_video #analysis_action .gray_border:not(:last-child) {
	margin-bottom: 20px;
}

#analysis_video #analysis_action .action_fir {
	display: inline-block;
	width: 485px;
    height: 635px;
	vertical-align: top;
}

#analysis_action .question_sec {
	position: relative;
}
#analysis_action .question_btn {
	position: absolute;
    top: 290px;
}

#analysis_action video {
	background: black;
	width: 420px; 
	height: 250px;
	margin: 20px 0;
}

#analysis_action .voice_analysis {
	position: absolute;
	width: 280px;
	height: 30px;
	top: 215px;
	background: rgba(255,255,255,0.5);
	left: 50%;
	transform: translate(-50%, 0);
}

#analysis_action .voice_analysis .voice_box {
	display: inline-block;
	width: 70px;
	height: 5px;
	margin: 5px 10px;
	border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
}

#analysis_action .voice_analysis .voice_box .voice_size {
	height: 3px; 
	background-color: #6A2CFF;
	border-radius: 5px;
}
#analysis_action .voice_analysis .voice_box .voice_tone {
	height: 3px;
	background-color: #53FFFF;
	border-radius: 5px;
}
#analysis_action .voice_analysis .voice_box .voice_speed {
	height: 3px;
	background-color: #FFBC46;
	border-radius: 5px;
}

#analysis_action .voice_analysis > .voice_txt {
	text-align: center;
	margin-top: -10px;
}

#analysis_action .voice_analysis .voice_txt span {
	margin: 5px;
	font-size: 10px;
}

#analysis_action .voice_analysis .purple {
	color: #6A2CFF;
}

#analysis_action .voice_analysis .mint {
	color: #53FFFF;
}

#analysis_action .voice_analysis .yellow {
	color: #FFBC46;
}

	
#analysis_action button {
	width: 62px;
	height: 32px;
	border: 1px solid #137DDE;
	border-radius: 16px;
	font-size: 14px;
	color: #137DDE;
	margin-right: 10px;
}

#analysis_action button.on {
	background: #137DDE;
	color: #FFF;
}

#analysis_action .question {
	background: #EDF5FD;
	font-size: 14px;
	padding: 25px 15px;
	margin-top: 45px;
    word-break: keep-all;
}

#analysis_action .question h6 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.video_total_graph {
	position: relative;
	width: 380px;
    height: 360px;
    margin: 20px 20px 45px;
}

.video_explain {
	font-size: 14px;
	color: #666666;
	padding: 0 20px;
    word-break: keep-all;
}

/* 감정분석 */
.action_sec {
	height: 575px;
}

.action_sec .video_emotion_graph {
	position: relative;
	height: 400px;
	margin: 20px 0;
}

/* 시선분포 */
.action_thi {
	height: 400px;
}

.action_thi .video_eyes_graph {
	height: 240px;
	margin: 20px 0;
	padding: 25px;
}

.action_guide .video_eyes_graph > div.hitmap_all span {
	color: #2A3F61;
}

.action_guide .video_eyes_graph > div.hitmap_group span {
	color: #FFAA30;
}

/* 시선분포, 제스처 공통 */

.action_guide .action_guide_graph > div  {
	display: inline-block;
	vertical-align: bottom;
    font-size: 14px;
    position: relative;
}

.action_guide .video_eyes_graph > div.hitmap_my {
	position: relative;
	margin: 0 42px 0 90px;
}

.action_guide .video_eyes_graph > div.hitmap_my #eyes_my {
	position: absolute;
	width: 202px;
	height: 186px;
	left: 0;
}

.action_guide .action_guide_graph > div.hitmap_my div {
	position: relative;
	display: inline-block;
}

.action_guide .action_guide_graph > div.hitmap_my > div.gradation {
	width: 15px;
	height: 120px; 
	background: transparent linear-gradient(180deg, #FF232E 0%, #FFDD30 40%, #51FF73 60%, #51FF73 70%, #00F3F6 80%, #6773FF3D 100%) 0% 0% no-repeat padding-box;
	vertical-align: bottom;
	margin-left: 30px;
} 

.action_guide .action_guide_graph > div.hitmap_my > div.guide {
	height: 120px;
	vertical-align: bottom;
}

.action_guide .action_guide_graph > div.hitmap_my > div.guide span:nth-of-type(2) {
	margin-top: 80px;
}

.action_guide .action_guide_graph > div.hitmap_my > div.guide span {
	display: block;
}

.action_guide .video_eyes_graph > div.hitmap_all #eyes_all,
.action_guide .video_eyes_graph > div.hitmap_group #eyes_group {
	position: absolute;
	width: 150px;
	height: 138px;
	left: 0;
}

.action_guide .action_guide_graph > div.hitmap_all img,
.action_guide .action_guide_graph > div.hitmap_group img {
	width: 150px;
}

.action_guide .action_guide_graph > div.hitmap_all span,
.action_guide .action_guide_graph > div.hitmap_group span {
	display: inline-block;
	vertical-align: bottom;
    margin: 0 10px;
}

.action_guide .action_guide_graph > div.hitmap_all span span,
.action_guide .action_guide_graph > div.hitmap_group span span  {
	display: block;
    margin: 0;
}

.action_guide .action_guide_graph > div.hitmap_all span span:not(:first-child),
.action_guide .action_guide_graph > div.hitmap_group span span:not(:first-child) {
	font-size: 12px;
	color: #777777;
}


.action_guide .action_guide_graph > div.hitmap_all span span:nth-child(1) {
	color: #2A3F61;
}

.action_guide .action_guide_graph > div.hitmap_group span span:nth-child(1) {
	color: #FFAA30;
}




/* 제스처  */

.action_fou {
	height: 400px;
}

.action_fou .video_gesture_graph {
    height: 240px;
    margin: 10px 0;
    padding: 25px;
}

.action_guide .video_gesture_graph > div.hitmap_my {
	position: relative;
	margin: 0 40px 0 0;
}

.action_guide .video_gesture_graph > div.hitmap_my #gesture_my {
	position: absolute;
	width: 202px;
	height: 186px;
    top: -148px;
	left: 90px;
}

.action_guide .video_gesture_graph > div.hitmap_all #gesture_all,
.action_guide .video_gesture_graph > div.hitmap_group #gesture_group {
	position: absolute;
    width: 150px;
    height: 138px;
    left: 0;
	/* border: 1px solid red; */
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record {
	vertical-align: bottom;
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record > div {
	display: block;
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record > div * {
	margin-right: 3px;
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record > div img {
	width: 12px;
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record > div span {
	
}

.action_guide .video_gesture_graph .hitmap_my .gesture_record > div span:nth-child(4) {
	color: #137DDE;
}



/* 자세분석 */
.action_fiv {
	height: 615px;
}

.updown {
	display: inline-block;
	border: 1px solid #DDDDDD; 
	width: 0.1px; 
	height: 350px;
    margin-top: 50px;
}

.action_fiv .posture {
	display: inline-block;
	width: 460px;
	vertical-align: top;
	margin: 20px 0;
}

.action_fiv div.posture:nth-child(2) {
	padding-right: 30px;
}
 
.action_fiv div.posture:nth-child(4) {
	padding-left: 30px;
}

.action_fiv .posture h6 {
	font-size: 16px;
	font-weight: bold;
}

.action_fiv .posture span {
    word-break: keep-all;
    height: 40px;
}

.action_fiv .posture .video_posture_graph {
	/* width: 430px; */
	height: 250px;
	margin: 20px 0;
	position: relative;
}

.action_fiv .posture .video_posture_graph > img {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}

.action_fiv .posture .video_posture_graph > img.face_guide {
	top: 85px;
    left: 162px;
}

.action_fiv .posture .video_posture_graph > img.body_guide {
	bottom: 0;
    left: 114px;
}

.action_fiv .posture .video_posture_graph #shldrMvt {
	position: absolute;
	width:215px; 
	height: 215px; 
    top: 35px;
    left: 107px;
}

.action_fiv .posture .video_explain {
	height: 90px;
	font-size: 14px;
	color: #666666;
	word-break: keep-all;
}

.pst_avr {
    position: absolute;
    width: 80px;
	padding: 0 !important;
	right: 0;
	color: #777777;
}

.pst_avr span {
	display: block;
	height: 17px !important;
	font-size: 12px;
}

.pst_avr span.all_avr {
	color: #2A3F61;
	font-size: 14px;
}

.pst_avr span.grp_avr {
	color: #FFAA30;
	font-size: 14px;
}

.stick1 {
	
}

/* 음성분석 */
#analysis_voice {
	
}

#analysis_voice table.answer {
	margin: 25px 0;
}
#analysis_voice table.answer tr:first-of-type th:nth-child(1) {
	border-radius: 10px 0 0 0;
}
#analysis_voice table.answer tr:first-of-type th:last-child {
	border-radius: 0 10px 0 0;
}

#analysis_voice table.answer tr:nth-child(2) th {
	font-size: 14px;
}

#analysis_voice table.answer tr:nth-child(2) th:nth-child(1) {
	color: #FC6E51;
}

#analysis_voice table.answer tr:nth-child(2) th:nth-child(2) {
	color: #0E9E13;
}

#analysis_voice table.answer tr:nth-child(2) th:nth-child(3) {
	color: #56AAFF;
}

#analysis_voice table.answer th {
	background: #EDF5FD;
	height: 37.5px;
}

#analysis_voice table.answer tr td:first-child {
	text-align: center;
}

#analysis_voice table.answer tr td:nth-child(2) {
	padding-left: 25px;
}

#analysis_voice table.answer td {
	height: 90px;
	font-size: 16px;
	border: 1px solid #EDF5FD;
}

#analysis_voice table.answer td:last-child {
	background: linear-gradient(90deg, #FFFFFF 97%, #E7F1FC 0);
	background-size: 30px 100%;
    border: none;
    padding-left: 0;
}

#analysis_voice table.answer tr:last-child td:last-child {
	border-bottom: 1px solid #EDF5FD;
}

.voice_my, .voice_all, .voice_group {
	position: relative;
	width: 280px;
    font-size: 11px;
    color: #666666;
}

.voice_my *, .voice_all *, .voice_group * {
	position: absolute;
}

.voice_my {
	top: -30px;
}

.voice_all {
	top: -10px;
}

.voice_group {
	top: 10px;
}

.voice_my span, .voice_all span, .voice_group span {
	width: 15px;
	padding-top: 3px;
	padding-left: 5px;
    word-break: keep-all;
}

#analysis_voice table.answer .voice_bar {
    height: 15px;
    border-radius: 0 15px 15px 0;
    margin: 2.5px 0;
}

#analysis_voice table.answer .voice_bar.orange {
	background:#FC6E51;
}

#analysis_voice table.answer .voice_bar.navy {
	background: #2A3F61;
}

#analysis_voice table.answer .voice_bar.yellow {
	background: #FFAA30;
}

#analysis_voice table.answer .voice_bar.skyblue {
	background: #56AAFF;
}

#analysis_voice table.answer .voice_bar.green {
	background: #0E9E13;
}

#analysis_voice .language {
	position: relative;
	display: inline-block;
	width: 465px;
	height: 400px;
	vertical-align: top;
	margin-top: 15px;
}

#analysis_voice .language:first-child {
	padding-right: 30px;
}

#analysis_voice .language:last-child {
	padding-left: 30px;
}

#analysis_voice .language .video_bubble_graph {
	width: 320px;
	height: 230px;
	margin: 25px auto;
}

/* 언어성향  */
#analysis_voice .language_propensity {
	margin-top: 20px;
}

#analysis_voice .language_propensity .video_language_graph {
    position: relative;
	height: 230px; 
	margin: 20px 0;
}

.video_language_graph > img {
	z-index: -1;
    margin-left: 165px;
}

#analysis_voice .language_propensity .video_language_graph .avg_label {
	float: right;
	font-size: 12px;
	color: #333333;
	margin-right: 90px;
}

#analysis_voice .language_propensity .video_language_graph .avg_label div span {
	vertical-align: top;
}

#analysis_voice .language_propensity .video_language_graph .avg_label img {
	height: 36px;
}

#analysis_voice .language_propensity .video_language_graph .lang_graph {
	padding-top: 70px;
}

#analysis_voice .language_propensity .video_language_graph .lang_label {
	position: absolute;
	width: 535px;
	left: 190px;
}

#analysis_voice .language_propensity .video_language_graph .lang_label img {
    position: absolute;
    bottom: -65px;
}

#analysis_voice .language_propensity .video_language_graph .lang_my {
	position: relative;
    margin-left: 225px;
    margin-top: 50px;
    width: 537px;
}

#analysis_voice .language_propensity .video_language_graph .lang_my > * {
	position: absolute;
}

#analysis_voice .language_propensity .video_language_graph .lang_my > div {
	top: -17px;
    margin-left: -50px;
}

#analysis_voice .language_propensity .video_language_graph .lang_my > div span {
    word-break: keep-all;
    color: #137DDE;
    font-size: 14px;
    text-align: center;
}

#analysis_voice .language_propensity .video_language_graph .lang_my div * {
	display: block;
}

#analysis_voice .language_propensity .video_language_graph .lang_my img {
	z-index: -1;
}

.lang_txt {
	margin-top: 25px;
    width: 530px;
    margin-left: 200px;
}

.lang_txt span {
    display: inline-block;
    width: 32.9%;
    font-size: 14px;
}

.lang_txt span:nth-child(1) {
	color: #FC6E51;
}

.lang_txt span:nth-child(2) {
	color: #0E9E13;
	text-align: center;
}

.lang_txt span:nth-child(3) {
	color: #56AAFF;
	text-align: right;
}





/* 음성분석  */
#analysis_voice .voice {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    margin-top: 15px;
}

#analysis_voice .voice .graph {
	position: relative;
	height: 180px;
	/* border: 1px solid black; */
}

#analysis_voice .video_bubble_graph {
    position: relative; 
}

#analysis_voice .video_bubble_graph .bubble {
	display: inline-block;
    position: absolute;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	word-break: keep-all;
}

#analysis_voice .video_bubble_graph .bubble_2, 
#analysis_voice .video_bubble_graph .bubble_3 {
	width: 100px;
	height: 100px;
    line-height: 100px;
    font-size: 25px;
}

#analysis_voice .video_bubble_graph .bubble_4,
#analysis_voice .video_bubble_graph .bubble_5,
#analysis_voice .video_bubble_graph .bubble_6,
#analysis_voice .video_bubble_graph .bubble_7 {
	width: 65px;
	height: 65px;
    line-height: 65px;
    font-size: 16px;
}

#analysis_voice .video_bubble_graph .bubble_8,
#analysis_voice .video_bubble_graph .bubble_9,
#analysis_voice .video_bubble_graph .bubble_10 {
	width: 40px;
	height: 40px;
    line-height: 40px;
    font-size: 12px;
}

/* 위치 */

#analysis_voice .video_bubble_graph .bubble_1 {
    top: 50px;
    left: 73px;
	width: 150px;
	height: 150px;
    line-height: 150px;
    font-size: 40px;
}

#analysis_voice .video_bubble_graph .bubble_2 {
    top: 130px;
    left: 180px;
    z-index: 1;
}

#analysis_voice .video_bubble_graph .bubble_3 {
    top: 50px;
    z-index: -1;
}

#analysis_voice .video_bubble_graph .bubble_4 {
    top: 15px;
    left:70px;
    z-index: -2;
}

#analysis_voice .video_bubble_graph .bubble_5 {
    top: 50px;
    left:210px;
    z-index: -2;
}

#analysis_voice .video_bubble_graph .bubble_6 {
    top: 165px;
    left: 50px;
    z-index: -2;
}

#analysis_voice .video_bubble_graph .bubble_7 {
    top: 130px;
    left: 260px;
    z-index: -2;
}

#analysis_voice .work_word .bubble_8 {
    top:153px;
    left: 50px;
    z-index: -3;
}

#analysis_voice .video_bubble_graph .bubble_8 {
    left: 50px;
    z-index: -3;
}

#analysis_voice .video_bubble_graph .bubble_9 {
    top: 25px;
    left: 235px;
    z-index: -2;
}

#analysis_voice .video_bubble_graph .bubble_10 {
    top: 70px;
    left: 265px;
    z-index: -2;
}




/* 배경색 */
#analysis_voice .use_word .bubble_1 {
	background: #0070C0;
}

#analysis_voice .use_word .bubble_2,
#analysis_voice .use_word .bubble_3 {
	background: #56AAFF;
}

#analysis_voice .use_word .bubble_4,
#analysis_voice .use_word .bubble_5,
#analysis_voice .use_word .bubble_6,
#analysis_voice .use_word .bubble_7 {
	background: #BDDAEF;
}

#analysis_voice .use_word .bubble_8,
#analysis_voice .use_word .bubble_9,
#analysis_voice .use_word .bubble_10 {
	background: #bcd9f8;
}

/* 업무용어 */
#analysis_voice .work_word .bubble_1 {
	background: #7667FF;
}

#analysis_voice .work_word .bubble_2,
#analysis_voice .work_word .bubble_3 {
	background: #9E94FF;
	/* z-index: -1; */
}

#analysis_voice .work_word .bubble_8,
#analysis_voice .work_word .bubble_9 {
	background: #D5D1FF;
}


/* 음성분석  */

.voice .graph .position {
	position: relative;
	position: absolute;
	width: 325px;
    height: 175px;
    margin-left: 60px;
}

.voice .graph .position img {
	position: absolute;
	bottom: 0;
}

.voice .graph .num {
	font-size: 14px;
	color: #CCCCCC;
	width: 325px;
	margin: 60px 0 10px 70px;
}

.voice .graph .num span {
	display: inline-block;
	width: 32.5%;
}

.voice .graph .num span:nth-child(2) {
	text-align: center;
}

.voice .graph .num span:nth-child(3) {
	text-align: right;
}

.voice_que {
	width: 380px;
	margin: 0 auto
}

.voice_que > div * {
	display: inline-block;
}

.voice_que div > span {
	font-size: 14px;
	margin-right: 15px;
	vertical-align: top;
}

.voice_que div div {
	border-radius: 15px;
	height: 22px;
}

.voice_q_box {
	width: 328px;
	height: 22px;
	background: transparent linear-gradient(30deg, rgba(169, 192, 255, 0.16) 0%, rgba(214, 229, 255, 0.16) 100%) 0% 0% no-repeat padding-box;
	border-radius: 15px;
}

.voice_que .voice_q_1 {
	background: #0876CD;
}

.voice_que .voice_q_2 {
	background: #79B4ED;
}

.voice_que .voice_q_3 {
	background: #B0D3F5;
}

.label_title {
	width: 210px;
	height: 30px;
	border: 1px solid #EDF5FD;
	color: #333333;
	font-size: 12px;
	margin: 35px auto 25px auto;
    padding: 3px 25px;
}

.label_title img {
	margin-right: 5px;
}




/* 생체분석 */
#analysis_hr > div,
#analysis_body > div {
	height: 600px;
	background: #D5D5D5;
}












/* graph canvas */

#emotion_chart {
    width: 900px !important;
    height: 390px !important;
}

#video_total_chart {
	
}




/* common */

.report_contents .gray_border:not(:last-child) {
	margin-bottom: 20px;
}

.report_contents span.black {
	display: block;
	color: #333333;
	font-size: 14px;
	margin-top: 15px;
}

.report_contents .blue {
	color: #137DDE;
}

.report_contents span.blue {
    display: block;
	color: #0070C0;
    font-size: 14px;
    margin-top: 15px;
} 
.report_contents span.blue img {
	vertical-align: bottom;
}

.report_contents h6 {
	font-size: 16px;
	font-weight: bold;
}

.w200 {
	width: 200px;
}

/* 자료 없음 */

.no_graph {
	position: absolute;
    top: 0;
    text-align: center;
    background: rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 25px;
}

.video_total_graph .no_graph {
    height: 380px;
    width: 380px;
    padding-top: 180px;
}

.video_emotion_graph .no_graph {
	width: 900px;
    height: 390px;
    padding-top: 180px;
}

.action_guide .action_guide_graph > div.hitmap_my .no_graph {
    position: absolute;
    width: 330px;
    height: 190px;
    padding-top: 90px;
    top: 0;
    left: -45px;
}

.action_guide .video_gesture_graph > div.hitmap_my .no_graph {
	position: absolute;
	width: 370px;
    height: 190px;
    padding-top: 90px;
    top: 0;
    left: 0;
}
 
.action_fiv .posture .video_posture_graph .no_graph {
	width: 430px;
    height: 260px;
    padding-top: 130px;
}

.relative {
	position: relative;
}

.relative .no_graph  {
    width: 965px;
    height: 351px;
    padding-top: 170px;
    top: 105px;
}

.no_bubble {
	position: absolute;
    width: 340px;
    height: 235px;
    top: 75px;
    left: 70px;
    background: #FFF;
    z-index: 2;
}

.no_bubble span {
	position: absolute;
	background: #999999;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
    line-height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.no_bubble .no_graph{
    width: 340px;
    height: 235px;
	padding-top: 100px;
}

.voice .graph .no_graph {
	width: 400px;
    height: 230px;
    top: -35px;
    padding-top: 110px;
}

.language_propensity .no_graph_box {
	position: absolute;
    top: 0;
    width: 100%;
    height: 220px;
    background: #FFF;
}

.language_propensity .no_graph_box .avg_label {
	
}

.language_propensity .no_graph_box > img {
	margin-top: 120px;
    margin-left: 165px;
}

.language_propensity .no_graph {
	width: 100%;
    height: 246px;
    padding-top: 110px;
}

/* 결과 없음  */
.no_graph,
.no_bubble, 
.no_graph_box,
.action_guide .action_guide_graph > div.hitmap_my .no_graph,
.action_guide .video_gesture_graph > div.hitmap_my .no_graph {
	display: none;
}

.no_bubble .no_graph {
	display: block !important;
}

.no_result,
.action_guide .action_guide_graph > div.hitmap_my .no_graph.no_result,
.action_guide .video_gesture_graph > div.hitmap_my .no_graph.no_result {
	display: block !important;
}

.gaze_progress{
    position: absolute !important;
    height: 121px;
    z-index: 1;
    background-color: #ffff;
    width: 15px;
    vertical-align: bottom;
    margin-left: 30px;
    top: 65px;
}

.gesture_progress{
    position: absolute !important;
    height: 121px;
    z-index: 1;
    background-color: #ffff;
    width: 15px;
    vertical-align: bottom;
    margin-left: 30px;
    top: 65px;
}

#tendencyTotal1{
	display:none;
}
#tendencyTotal2{
	display:none;
}
#tendencyTotal3{
	display:none;
}
#tendencyTotal4{
	display:none;
}
#tendencyGroup1{
	display:none;
}
#tendencyGroup2{
	display:none;
}
#tendencyGroup3{
	display:none;
}
#tendencyGroup4{
	display:none;
}


