* {color: #2D2D2D;font-family: Pretendard, sans-serif;box-sizing: border-box;}
html, body {margin: 0;padding: 0;overflow-x: hidden;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
a {text-decoration: none;}
ul {margin: 0; padding-left: 0;}
ul li {list-style: none;padding-left: 0;}
button {outline: none; border: none;cursor: pointer; background: none;}
em {font-style: normal;}

/* All Device */
header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 120px;
}
header h1 {
    display: flex;
    align-items: center;
}
header img:first-of-type {
    margin-right: 35px;
}
header ul {
    display: flex;
    gap: 70px;
    background: #FFF'
}
header ul li {
    font-size: 15px;
    font-weight: 400;
}
footer {
    background: #FFFFFF;
    border: 1px solid blue;
    padding: 20px 0;
}
footer .footer_inner {
    position: relative;
    margin: 0 120px;
}
footer .footer_inner > img {
    display: inline-block;
    width: 100px;
    margin-right: 40px;
}
footer .footer_inner ul.site {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    vertical-align: top;
}
footer .footer_inner ul.site li {
    display: inline-block;
}
footer .footer_inner ul.site li:not(:last-of-type) {
    margin-right: 40px;;
}
footer .footer_inner ul.sns {
    display: flex;
    align-items: center;
    gap: 30px;
}
footer .footer_inner .wrap_sns {
    position: absolute;
    top: 0;
    right: 0;
}
footer .footer_inner .wrap_sns label {
    display: block;
    color: #2D2D2D;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
}
footer .footer_inner ul.sns li img {
    width: 16px;
}
footer .footer_inner address {
    color: #BDBDBD;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    margin-top: 10px;
}
footer .footer_inner address span {
    display: inline-block;
    color: #BDBDBD;
    margin-top: 5px;
}
footer .footer_inner address span:not(:first-of-type) {
    
    padding-left: 10px;
}
footer .footer_inner address span:not(:last-of-type) {
    border-right: 1px solid #E2E2E2;
    padding-right: 10px;
}
footer .footer_inner p {
    color: #6D6D6D;
    font-size: 12px;
    margin-top: 80px;
}
.btn_menu {
    display: none;
}

/* main slider */
.container {
    margin-top: 100px;
}
main > .container:nth-of-type(1) {
    height: 500px;
    margin-top: 0;
}
.slider_main .slick-slide {
    position: relative;
    background: blue;
    width: 100%;
    height: 500px;
    padding: 0;
    font-size: 30px;
    font-family: "Arial";
}
.container .slider_main {
    width: 100%;
    margin: 0 auto;
}
.container .slider_main .main01 {
    background: url('images/img_main.svg') no-repeat;
    position: relative;
    height: 500px;
}
.container .slider_txt {
    display: inline-block;
    color: #2D2D2D;
    font-size: 2.3438vw;
    font-weight: 700;
    margin: 11.3021vw 0 14px;
}  
.container .slider_txt br {
    display: none;
}
.slider .hashtag {
    font-size: 1.0417vw;
    color: #6A1684;
}
.slick_btn{
    position: relative;
    display: flex;
    justify-content: center;
    top: -18px;
    right: -45px;
}
.slick_btn button {
    border: none;
    cursor: pointer;
}
.slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin: -32px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: rgba(45, 45, 45, 0.5);
    text-indent: -9999px;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: #2D2D2D;
}
.dot_play {
    background: url('images/icon_play.svg') no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
}
.dot_pause {
    background: url('images/slick_pause.svg') no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
}
.event {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #6A1684;
    color: #FFF;
    text-align: center;
}
.event span {
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #FFF;
    color: #FFF;
    font-size: 15px;
}
.event p {
    display: inline-block;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    padding-left: 20px;
}
.event MARQUEE {
    display: none;
}
.container_kind {
    overflow-x: auto;
}
.container .kind {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    width: 1480px;
    margin: 0 auto;
}
.container .kind a {
    position: relative;
    display: inline-block;
    padding: 30px;
    width: 730px;
    height: 400px;
    border-radius: 5px;
    vertical-align: top;
}
.container .kind a b {
    font-size: 25px;
}
.container .kind a > span {
    background: url('images/icon_purple_arrow_right.svg') no-repeat;
    background-position: right;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #6A1684;
    font-size: 14px;
    padding-right: 15px;
}
.container .kind a.product_all {
    background: url('images/img_banner01.svg') no-repeat;
    background-size: contain;
}
.container .kind a.product_event {
    background: url('images/img_banner02.svg') no-repeat;
    background-size: contain;
}
.container_product {
    margin: 100px 0;
}
.container .slider_product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container .top span {
    display: block;
    color: #006FB8;
    font-size: 20px;
    text-align: center;
}
.container .top strong {
    display: block;
    font-size: 45px;
    margin: 10px 0 50px;
    text-align: center;
}
.container .slider_product > div {
    width: 1360px;
}
.container .slider_product .slick-slide { 
    display: flex;
    justify-content: center;
    width: 325px;
}
.container .slider_product img {
    width: 325px;
}
.container .slider_product span {
    display: block;
    color: #E75297;
    font-size: 15px;
    margin:20px 0 10px;
}
.container .slider_product p {
    font-size: 20px;
}
.container .slider .slick-prev {
    width: 13px;
    height: 26px;
    background: url('images/btn_prev.svg') no-repeat;
    background-size: contain;
}
.container .slider .slick-next {
    width: 13px;
    height: 26px;
    background: url('images/btn_next.svg') no-repeat;
    background-size: contain;
}
.container .banner a {
    display: block;
    background: rgba(0, 111, 184, 0.06);
    background-image: url('images/banner_product.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 550px;
    width: 1480px;
    height: 200px;
    margin: 0 auto;
    padding: 40px 80px;
}
.container .banner a i {
    display: block;
    font-style: normal;
    font-size: 20px;
}
.container .banner a strong {
    display: block;
    margin: 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.container .banner a span {
    color: #E75297;
    font-size: 20px;
}
.container .banner a br {
    display: none;
}
.container_design .contents {
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}
.container_design .contents a {
    position: relative;
    background: #FFFFFF;
    width: 730px;
    height: 250px;
    border-radius: 3px;
    padding: 30px 60px;
}
.container_design .contents span {
    color: #E75297;
    font-size: 15px;
}
.container_design .contents div {
    display: flex;
    gap: 30px;
}
.container_design .contents div p {
    margin-top: 10px;
}
.container_design .contents div img {
    vertical-align: top;
}
.container_design .contents button {
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 36px;
    font-size: 14px;
    border-radius: 3px;
}
.container_design .contents a:hover button {
    background: #6A1684;
    color: #FFF;
}
.container_video .slider_video {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container_video .slider_video p {
    margin-top: 20px;
    font-size: 20px;
}




/* Mobile & Tablet Device */
@media all and (max-width:1024px) {
    header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 30px;
        border-bottom: 1px solid #E2E2E2;
    }
    header h1 {
        padding: 10px 0;
    }
    header h1 img:first-of-type {
        margin-right: 10px;
    }
    header ul {
        background: #FFFFFF;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 32px;
        padding: 16px 0;
    }
    header ul li {
        width: 100%;
        font-weight: 600;
        text-align: center;
    }
    .btn_menu {
        display: block;
    }
    .ico {
        position:absolute;
        top:50%;
        right:35px;
        width:20px;
        height:20px;
        transform:translatey(-50%);
        cursor:pointer;
    }
    .ico > div {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:1px;
        background-color:black;
    }
    .ico > div:nth-child(2) {
        top:40%;
        transition:visibility 0s .15s;
    }
    .ico.active > div:nth-child(2) {
        visibility:hidden;
        transition:visibility 0s;
    }
    .ico > div:nth-child(3) {
        top:80%;
    }
    .ico > div:nth-child(1), .ico > div:nth-child(3) {
        transition:top .15s .15s, transform .15s;
    }
    .ico.active > div:nth-child(1), .ico.active > div:nth-child(3) {
        top:40%;
        transform:rotate(45deg);
        transition:top .15s, transform .15s .15s;
    }
    .ico.active > div:nth-child(3) {
        transform:rotate(-45deg);
    }
    .wrap_nav {
        position:fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background-color:rgba(0,0,0,0);
        visibility:hidden;
        transition:visibility .1.5s, background-color .2s;
    }
    .wrap_nav.active {
        background-color:rgba(0,0,0,0.5);
        visibility:visible;
        z-index: 100;
    }
    footer .footer_inner {
        margin: 0 30px;
    }
    footer .footer_inner p {
        margin-top: 20px;
    }


/* main */


    .container {
        margin-top: 60px;
    }
    .container .slider_main .main01 {
        background: url('images/img_main_tablet.svg') no-repeat;
        background-size: cover;
    }
    .container .slider_main .main01 .wrap_txt strong {
        font-size: 30px;
    }
    .container .slider_main .main01 img {
        width: 89vw;
        top: auto;
        bottom: 0;
        transform: translateY(0);
        right: -30%;
    }
    .container .slider_main .main01 .wrap_txt {
        padding-left: 40px;
    }
    .container .slider_main .main01 .wrap_txt .slider_txt {
        font-size: 30px;
    }
    .container .slider_main .main01 .wrap_txt span {
        font-size: 20px;
    }
    .container .slider_main .main01 .wrap_txt span:not(:last-of-type) {
        margin-right: 20px;
    }
    .container .kind {
        width: 1080px;
        padding: 0 30px;
    }
    .container .kind a {
        width: 530px;
        height: 360px;
    }
    .container .kind a.product_all {
        background: url('images/img_banner01_tablet.svg') no-repeat;
        background-size: contain;
    }
    .container .kind a.product_event {
        background: url('images/img_banner02_tablet.svg') no-repeat;
        background-size: contain;
    }
    .container .slider_product {
        padding: 0 40px;
        margin: 60px 0;
    }
    .container .slider_product .slick-slide {
        width: 100%;
    }
    .container .slider_product span {
        text-align: center;
    }
    .container .slider_product p {
        font-size: 16px;
        text-align: center;
    }
    .container .top span {
        font-size: 16px;
    }
    .container .top strong {
        font-size: 30px;
    }
    .container .banner a {
        background-position: right 45% center;
        background-size: 530px;
        padding: 40px 42px;
    }
    .container .banner a i {
        font-size: 16px;
    }
    .container .banner a strong {
        font-size: 30px;
    }
    .container .banner a span {
        font-size: 16px;
    }
    .container .banner a br {
        display: block;
    }
    .container_design .contents {
        flex-direction: column;
    }
    .container_design .contents a {
        padding: 30px 50px;
    }
    .container_video .slider_video {
        align-items: center;
        padding: 0 30px;
    }
    .container_video .slider_video a {
        width: 300px;
    }
    .container_video .slider_video img {
        width: 300px;
    }




}

@media all and (min-width:1025px) and (max-width:1250px){
    header ul {
        gap: 35px;
    }
}
/* Mobild Device */
@media all and (max-width:768px) {
    footer .footer_inner ul.site {
        display: block;
    }
    footer .footer_inner ul.site {
        height: 15px;
        line-height: 15px;
        margin-top: 20px;
    }
    footer .footer_inner .wrap_sns {
        position: inherit;
        display: block;
        margin-top: 20px;
    }
    footer .footer_inner .wrap_sns label {
        margin-bottom: 8px;
    }
    footer .footer_inner address {
        margin-top: 20px;
    }
    footer .footer_inner address span {
        display: block;
        margin: 0;
        padding-left: 0 !important;
    }
    footer .footer_inner p {
        text-align: center;
    }


    .container .slider_main .main01 {
        background: url('images/img_main_mobile.svg') no-repeat;
        background-size: cover;
    }
    .event .desktop {
        display: none;
    }
    .event MARQUEE {
        display: block;
    }
    .container .kind {
        width: 620px;
        padding: 0 20px;
        margin: 60px 0 0;
    }
    .container .kind a {
        width: 300px;
        height: 280px;
    }
    .container .kind a.product_all {
        background: url('images/img_banner01_mobile.svg') no-repeat;
        background-size: contain;
    }
    .container .kind a.product_event {
        background: url('images/img_banner02_mobile.svg') no-repeat;
        background-size: contain;
    }
    .container .slider_product {
        padding: 0 30px;
    }
    .container .slider_product img {
        width: 100%;
    }
    .container .slider_product span {
        font-size: 14px;
    }
    .container .slider_product p {
        font-size: 16px;
    }
    
    .container .top span {
        font-size: 14px;
    }
    .container .top strong {
        font-size: 22px;
    }
    .container .banner a {
        width: 100%;
        height: 360px;
        font-size: 14px;
        text-align: center;
        background-size: 310px;
        background-position: center bottom;
        padding: 30px 38px;
    }
    .container .banner a strong {
        font-size: 22px;
    }
    .container_design .contents {
        padding: 30px 20px;
    }
    .container_design .contents a {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .container_design .contents span {
        font-size: 14px;
    }
    .container_design .contents div {
        flex-direction: column;
    }
    .container_design .contents div p {
        font-size: 16px;
    }
    .container_design .contents div img {
        width: 96px;;
    }
    .container_design .contents button {
        right: 20px;
        bottom: 10px;
        width: 80px;
        height: 32px;
        font-size: 12px;
    }










}
/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px){

}


/* Desktop Device */
@media all and (min-width:1920px) {
    .container .slider_main .main01 {
        background-size: contain;
        background-position: center;
    }
}


