* {
    box-sizing: border-box;
}
html { font-size: 16px; }
html, body, h3, ul, p {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
#my_grade {
	position: relative;
    overflow: hidden;
}
#my_grade .goto_start {
	position: fixed;
	left: 50px;
    bottom: 50px;
	width: 228px;
	height: 228px;
	/* border-radius: 50%; */
	/* background: url('images/img_floatingbtn.svg') no-repeat; */
	background: url('images/img_floatingbtn2.svg') no-repeat;
	background-size: contain;

    animation:ani 1.5s infinite alternate;  
}
.wrap_page {
    width: 100%;
    height: 100vh;
    font-size: 32px;
    text-align: center;
}
.wrap_page .wrap_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrap_flex .wrap_contents .title {
    font-size: 36px;
    font-weight: bold;
}
.wrap_flex .wrap_contents p.sub_title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin: 6px 0 30px;
}

.wrap_page.page_1 {
	position: relative;
	margin-top: -80px;
}


/* #1 myGrade main page */
canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #10103D 0%, #01011A 100%);
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.particle_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(images/img_main_title_background.svg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap_page.page_1 .time {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    top: 60px;
    right: 60px;
    z-index: 200;
}
.wrap_page.page_1 .wrap_contents {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_page.page_1 .wrap_contents .title p {
	display: block;
	color: #FFFFFF;
    line-height: 40px;
    margin-top: 40px;
    font-size: 24px;
}
.wrap_page.page_1 .wrap_contents .title p span {
    background: linear-gradient(90deg, #6C21E1 -3.89%, #0068ED 103.7%);
    padding: 0 5px;
    font-weight: bold;
    font-size: 30px;
}
.wrap_page.page_1 .icon_scroll {
    position: absolute;
    /* background: url('images/icon_scroll.svg') no-repeat; */
    width: 40px;
    height: 61px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mouse_scroll {
    border: 1.5px solid #FFF;
    display: block;
    width: 28px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    transition: border 0.2s ease-out;
}

.mouse_scroll span {
    display: block;
    background: #FFF;
    width: 4px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 2px;
}
/*circle*/
.mouse_scroll span {
    animation-name: scroll;
    animation-duration: 1.3s;
    animation-timing-function: all 1.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    animation-iteration-count: infinite;
    will-change: transform;
}

.icon_scroll p{
    font-size: 12px;
    color: #FFF;
    margin-top: 5px;
}

@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(10px) scaleY(1);
        opacity: 0;
    }
}















.wrap_page.page_2 {
    position: relative;
    background-color: #F6F7FC;
    background-image: url('images/img_main02_background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrap_page.page_2 .wrap_contents {
    width: 100%;
    height: auto;
}
.wrap_page h3 {
    font-weight: 700;
    font-size: 36px;
    /* font-size: 2.625em; */
}
.wrap_page.page_2 .wrap_typing {
    height: 425px;
}
.typing_txt{
    display: none;
}
.typing {
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 200;
}
.typing ul li{
    display:block;
    width: 530px;
    height: 160px;
    line-height: 155px;
    color: #5F4EEE;
    font-size: 26px;
    font-weight: bold;
}
.typing ul li:nth-of-type(1) {
    background: url(images/img_chat01.png) no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.typing ul li:nth-of-type(2) {
    background: url(images/img_chat02.png) no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.typing ul li.on {  
    display: inline-block; 
} 
.wrap_circle {
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 650px;
    overflow: hidden;
    animation: chameleon 19s infinite;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.center {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}
.waves {
    /* background: linear-gradient(180deg, rgba(59, 97, 213, 0.3) 0%, rgba(95, 78, 238, 0.3) 50%); */
    width: 700px;
    height: 700px;
    border-radius: 50%;
    opacity: 0.5;
}
.waves1::before, .waves1::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(59, 97, 213, 0.3) 0%, rgba(95, 78, 238, 0.3) 50%);
    margin-left: -12px;
    margin-top: -12px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    animation: wave 7s infinite linear;
    left: 0;
}
.waves1::after {
    opacity: 0;
    animation: wave 7s 3.5s infinite linear;
}
.waves2::before, .waves2::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(59, 97, 213, 0.3) 0%, rgba(95, 78, 238, 0.3) 50%);
    margin-left: -12px;
    margin-top: -12px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    animation: wave 7s infinite linear;
    animation-delay: 4.5s;
    left: 0;
    opacity: 0;
}
.waves2::after {
    opacity: 0;
    animation: wave 7s 5.5s infinite linear;
}
@keyframes wave {
    0%  {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.wrap_page.page_3 {
    position: relative;
    background: #5F4EEE;
}
.wrap_page.page_3 .background {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap_page.page_3 .background img {
    position: absolute;
	animation-name: moveBubble;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
.wrap_page.page_3 .background img:nth-of-type(1) {
    top: -25%;
    right: 20%;
    width: 22%;
    filter: drop-shadow(0px 6px 16px rgba(52, 34, 172, 0.08));
    transform: rotate(27.56deg);
}
.wrap_page.page_3 .background img:nth-of-type(2) {
    top: 40%;
    right: 0;
    width: 10%;
}
.wrap_page.page_3 .background img:nth-of-type(3) {
    bottom: -20%;
    left: 5%;
    width: 17%;
}
.wrap_page.page_3 .background img:nth-of-type(4) {
    top: 20%;
    left: 0;
    width: 5%;
}
@keyframes moveBubble {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}
/* .wrap_page.page_3 .wrap_contents {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
} */
.wrap_page.page_3 .wrap_contents > div:nth-of-type(2) {
    margin-top: 80px;
}
.wrap_page.page_3 .wrap_contents h3 {
    color: #FFFFFF;
    font-size: 36px;
}
.wrap_page.page_3 .wrap_contents p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 10px 0;
}
.wrap_page.page_3 .wrap_contents > div:nth-of-type(2) {
    margin-top: 80px;
}





.wrap_page.page_3 .wrap_contents .result .wrap_graph {
    background: url(images/graph_line.svg) no-repeat;
    margin-top: 80px;
    /* border: 1px solid red; */
    height: 190px;
    padding: 0 20px;
    margin: 80px auto 0;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar {
    position: relative;
    float: left;
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .wrap_max {
    position: relative;
    position: absolute;
    width: 80px;
    height: 150px;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .max {
    position: absolute;
    background: url(images/union.png) no-repeat;
    background-size: contain;
    width: 85px;
    height: 55px;
    margin-left: -7px;
    padding: 7px 0;
    font-size: 12px;
    color: #5F4EEE;
    text-align: center;
    z-index: 5;

    opacity: 0;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .max b {
    font-size: 14px;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .bar {
    position: relative;
    width: 40px;
    height: 150px;
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .bar .progress {
    background: linear-gradient(180deg, #8B79FF 0%, rgba(255, 255, 255, 0) 100%);
    width: 40px;
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
    margin-left: 15px;
}
.wrap_page.page_3 .wrap_contents .result.wrap_grade .wrap_graph .wrap_bar .bar .progress.hit {
    background: linear-gradient(180deg, #FFD058 0%, #FF628F 100%);
}
.wrap_page.page_3 .wrap_contents .result.wrap_rank .wrap_graph .wrap_bar .bar .progress.hit {
    background: linear-gradient(180deg, #2EEEE3 0%, #0068ED 100%);
}
.wrap_page.page_3 .wrap_contents .result .wrap_graph .wrap_bar .font {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
}
.wrap_card {
    display: inline-block;
    float: right;
    width: 154px;
    height: 206px;
    perspective: 1000px;
    margin-top: -40px;
}
.card {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    height: 100%;
}
.front, .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}
.front {
    background: url(images/img_card_front.png) no-repeat;
    background-size: contain;
    color: #FFFFFF;
    font-size: 14px;
}
.back {
    background: url(images/img_card_back.png) no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
}
.back a {
    width: 124px;
    height: 165px;
}






















.wrap_page.page_4 .wrap_flex {
    width: 100vw;
    height: 50vh;
    justify-content: center;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(1) {
    background: url(images/section04_bg.svg) no-repeat;
    background-color: #181834;
    background-size: 70% 100%;
}
.wrap_page.page_4 .wrap_flex .wrap_contents > div {
    display: inline-block;
    text-align: left;
}
.wrap_page.page_4 .wrap_flex:nth-of-type(1) .wrap_contents {
    color: #FFF;
}

.wrap_page.page_4 .wrap_flex .wrap_contents a {
    display: inline-block;
    width: 220px;
    height: 56px;
    line-height: 56px;
    background: #5F4EEE;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
}
.wrap_page.page_4 .wrap_flex .wrap_contents div:nth-of-type(2) {
    width: 600px;
    height: 180px;
    vertical-align: top;
    text-align: center;
    line-height: 180px;
    margin-left: 100px;
}
.wrap_page.page_4 .wrap_flex:nth-of-type(1) .wrap_contents div:nth-of-type(2) {
    background: url(images/section04_bg2.png) no-repeat;
    background-size: contain;
}
.wrap_page.page_4 .wrap_flex .wrap_contents .result {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.wrap_page.page_4 .wrap_flex .wrap_contents .count {
    color: #5F4EEE;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) {
    position: relative;
    background: url(images/section04_bg3.png) no-repeat;
    background-color: #F6F7FC;
    background-position: center;
    background-size: 80%;
    overflow: hidden;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_contents {
    z-index: 1;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img {
    position: absolute;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(1) {
    top: -50%;
    width: 400px;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(2) {
    left: -10%;
    bottom: -35%;
    width: 500px;
}
.wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(3) {
    width: 650px;
    right: -8%;
    bottom: -55%;
}
.wrap_page.page_4 .wrap_flex:nth-of-type(2) .wrap_contents div:nth-of-type(1) .sub_title {
    color: #999999;
}
/* .wrap_page.page_5 {
    overflow: hidden;
} */




















.wrap_page.page_5 .wrap_flex {
    width: 100vw;
    height: 50vh;
}
.wrap_page.page_5 .wrap_flex .wrap_contents .title {
    font-size: 30px;
    font-weight: bold;
}
.wrap_page.page_5 .wrap_flex .wrap_contents .sub_title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin: 6px 0 30px;
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div {
    display: inline-block;
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div .my_num {
    font-size: 36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div .my_num span {
    color: #2EEEE3;
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div .max_num {
    font-size: 18px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.6);
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div .max_num span {
    color: #FFFFFF;
    font-weight: 600;;
}
.wrap_page.page_5 .wrap_flex .wrap_contents > div.interview_time {
    margin-left: 200px;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(1) {
    position: relative;
    overflow: hidden;
    background: url(images/section05_bg4.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #5F4EEE;
    color: #FFFFFF;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(1) .wrap_contents {
    z-index: 100;
}
.wrap_page.page_5 .inner {
    position: relative;
    width: 1200px;  
    margin: 0 auto;
}
.wrap_page.page_5 .top {
    position: relative;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    width: 100%;
}
.wrap_page.page_5 .top .inner {
    height: 100%;
}
.wrap_page.page_5 .top .stars img {
    position: absolute;
    animation: star 20s linear infinite;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;
}
.wrap_page.page_5 .top .stars img:nth-child(1) {
    animation-delay: 0;
    animation-duration: 1.6s
}
.wrap_page.page_5 .top .stars img:nth-child(2) {
    animation-delay: -1.5s;
    animation-duration: 1.4s
}
.wrap_page.page_5 .top .stars img:nth-child(3) {
    animation-delay: -0.7s;
    animation-duration: 1.2s
}
.wrap_page.page_5 .top .stars img:nth-child(4) {
    animation-delay: -1s;
    animation-duration: 1s
}
.wrap_page.page_5 .top .stars img:nth-child(5) {
    animation-delay: 0.2s;
    animation-duration: 2s
}
.wrap_page.page_5 .top .stars img:nth-child(6) {
    animation-delay: -2s;
    animation-duration: 1.8s
}
.wrap_page.page_5 .top .stars img:nth-child(7) {
    animation-delay: -0.5s;
    animation-duration: 1.2s
}
.wrap_page.page_5 .top .stars img:nth-child(8) {
    animation-delay: -1.2s;
    animation-duration: 2s
}
@keyframes star {
    from {
        opacity: 0;
        margin-left: 0;
        margin-top: 0
    }
    35% {
        opacity: 1;
        margin-left: -5%;
        margin-top: 5%
    }
    70% {
        opacity: 0;
        margin-left: -10%;
        margin-top: 10%
    }
    to {
        opacity: 0;
        margin-left: -10%;
        margin-top: 10%
    }
}

.wrap_page.page_5 .wrap_flex:nth-of-type(2) {
    background: url(images/section05_bg2.png) no-repeat;
    background-color: #181834;
    background-position: center;
    background-size: 85%;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) > div {
    display: inline-block;
    text-align: left;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) .title {
    color: #FFFFFF;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) .job {
    background: url(images/section05_icon.png) no-repeat;
    background-position: left 10px center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    width: 430px;
    height: 80px;
    color: #FFFFFF;
    text-align: left;
    padding: 10px 0 10px 85px;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) .job p {
    font-size: 20px;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) .job span {
    font-size: 26px;
}
.wrap_page.page_5 .wrap_flex:nth-of-type(2) .wrap_contents .percent {
    width: 500px;
    height: 225px;
    /* border: 1px solid #FFFFFF; */
    margin-left: 100px;
}
.percent > div, .percent > span {
    display: inline-block;
}
.percent > .wrap_blue, .percent > .wrap_red {
    position: relative;
    /* border: 1px solid #FFFFFF; */
    width: 110px;
    height: 225px;
}
.percent > .wrap_blue {
    background: rgba(59, 97, 213, 0.3);
}
.percent > .wrap_blue img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.percent > .wrap_blue .progress_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0169ED;
}
.percent > .wrap_red {
    background: rgba(255, 47, 106, 0.3);
}
.percent > .wrap_red img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.percent > .wrap_red .progress_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FF306B;
}
.percent > span:nth-of-type(1) {
    font-size: 42px;
    color: #3B61D5;
    font-weight: bold;
}
.percent > span:nth-of-type(2) {
    font-size: 42px;
    color: #FF306B;
    font-weight: bold;
}

.wrap_page.page_6 .wrap_flex:nth-of-type(1) {
    height: calc(100% - 200px);
    background: url(images/section06_bg.png) no-repeat;
    background-size: cover;
}
.wrap_page.page_6 .wrap_flex:nth-of-type(2) {
    height: 200px;
}
.wrap_page.page_6 .wrap_flex .wrap_contents p.sub_title {
    color: rgba(51, 51, 51, 0.6);
}
.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word {
    display: flex;
    border: 2px solid #5F4EEE;
    border-radius: 15px;
    width: 850px;
    padding: 15px;
    box-sizing: border-box;

    margin-bottom: 30px;
    opacity:0;

    /* visibility: hidden; */
    /* transition: 0.5s ease-in;  */
}
.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word.active{
    margin-top: 0;
    /* opacity:1; */
    visibility: visible;
}


.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word:not(:last-child) {
    margin-bottom: 20px;
}
.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word span:nth-of-type(1) {
    flex: 60px;
    color: #5F4EEE;
    font-weight: bold;
    border-right: 1px solid #5F4EEE;
    padding-right: 10px;
    font-size: 24px;
}
.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word p {
    flex: 650px;
    font-size: 26px;
    font-weight: bold;
}
.wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word span:nth-of-type(2) {
    flex: 90px;
    font-size: 26px;
}
.wrap_page.page_6 .wrap_flex:nth-of-type(2) .wrap_contents {
    position: relative;
}
.wrap_page.page_6 .wrap_flex:nth-of-type(2) .wrap_contents img {
    position: absolute;
}
.wrap_page.page_6 .wrap_flex:nth-of-type(2) .wrap_contents img:nth-of-type(1) {
    left: 100%;
    margin-top: -40px;
}
.wrap_page.page_6 .wrap_flex:nth-of-type(2) .wrap_contents img:nth-of-type(2) {
    left: 100%;
    width: 80px;
    margin-top: -10px;
}
.wrap_page.page_6 .wrap_flex .wrap_contents a {
    display: block;
    background: #5F4EEE;
    width: 300px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    border-radius: 6px;
    color: #FFFFFF;
}

@media ( max-height: 800px ) {
    #my_grade .goto_start {
        width: 150px;
        height: 150px;
    }
    .wrap_page.page_3 .wrap_contents h3 {
        font-size: 24px;
    }
    .wrap_page.page_3 .wrap_contents p {
        margin: 5px 0;
    }
    .wrap_page.page_3 .wrap_contents .result .wrap_graph {
        margin-top: 60px;
    }
    .wrap_page.page_3 .wrap_contents > div:nth-of-type(2) {
        margin-top: 30px;
    }
    .wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(1) {
        width: 300px;
    }
    .wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(2) {
        width: 400px;
    }
    .wrap_page.page_4 div.wrap_flex:nth-of-type(2) .wrap_dounut img:nth-of-type(3) {
        width: 500px;
    }

    .wrap_page.page_6 .wrap_flex .wrap_contents .title {
        font-size: 30px;
    }
    .wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word {
        width: 700px;
        padding: 10px;
    }
    .wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word:not(:last-child) {
        margin-bottom: 15px;
    }
    .wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word p {
        flex: 525px;
        font-size: 24px;
    }
    .wrap_page.page_6 .wrap_flex .wrap_contents .wrap_word .word span {
        font-size: 22px;
    }
}

@keyframes ani{
    0%{transform:translate(0,20px);}
    100%{transform:translate(0,30px);}
 } 

 @keyframes rotate_image{ 
    100% { 
        transform: rotate(360deg); 
    } 
}
